@charset "UTF-8";
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold.eot");
  src: url("../fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-extrabold.eot");
  src: url("../fonts/montserrat-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold.woff2") format("woff2"), url("../fonts/montserrat-extrabold.woff") format("woff"), url("../fonts/montserrat-extrabold.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-extralight.eot");
  src: url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat-extralight.woff") format("woff"), url("../fonts/montserrat-extralight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-medium.eot");
  src: url("../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff2") format("woff2"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "myriadpro";
  src: url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  max-width: 1201px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.txt-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 770px;
  padding: 75px 0 35px 0;
}

.txt-head {
  display: block;
  font-size: 52px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.txt-topic {
  display: block;
  font-size: 30px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.txt-paragraph {
  display: block;
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 24px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.btn {
  display: block;
  text-transform: uppercase;
  padding: 21px 37px 18px 37px;
  background: #998675;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #736300;
          box-shadow: 0 3px 0 0 #736300;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.btn:hover {
  color: #736300;
  background: #a3a2a0;
}

.btn:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*----Шапка----*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /*----навигация----*/
  /*----контент----*/
}

.header-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  height: 56px;
  text-decoration: none;
  color: #ffffff;
}

.header-nav-logo-svg {
  fill: currentColor;
}

.header-nav-logo-txt {
  text-decoration: none;
  font-size: 34px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-nav-logo:hover {
  color: #998675;
}

.header-nav-logo:active {
  color: #a3a2a0;
}

.header-nav-list {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-flex: 3;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 0 25px;
}

.header-nav-list-items {
  padding: 0;
  max-width: 680px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-list-items-item {
  display: inline;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 14px;
}

.header-nav-list-items-item-url {
  text-decoration: none;
  color: #ffffff;
}

.header-nav-list-items-item-url:hover {
  color: #998675;
}

.header-nav-list-items-item-url:active {
  color: #a3a2a0;
}

.header-nav-basket {
  padding: 0 0 0 25px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 auto;
          flex: 0.5 0 auto;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 25px;
}

.header-nav-basket-svg {
  fill: #ffffff;
}

.header-nav-basket-svg:hover {
  fill: #998675;
}

.header-nav-basket-svg:active {
  fill: #a3a2a0;
}

.header-nav-search-form {
  position: relative;
  height: 25px;
}

.header-nav-search-form-input {
  display: block;
  position: absolute;
  top: 29px;
  left: -5000px;
  width: 0;
  height: 0;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  text-transform: capitalize;
}

.header-nav-search-form-input:focus {
  display: block;
  width: 200px;
  height: 30px;
  left: -172px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.header-nav-search-form-input:focus ~ .header-nav-search-form-label .header-nav-search-form-svg {
  fill: #a3a2a0;
}

.header-nav-search-form-label-svg {
  fill: #ffffff;
}

.header-nav-search-form-label-svg:hover {
  cursor: pointer;
  fill: #998675;
}

.header-nav-search-form-label-svg:active {
  fill: #a3a2a0;
}

.header-nav-menu-input {
  display: none;
}

.header-nav-menu-input:checked ~ .header-nav-list {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.92);
}

.header-nav-menu-input:checked ~ .header-nav-list .header-nav-list-items-item-url {
  color: #272727;
}

.header-nav-menu-input:checked ~ .header-nav-list .header-nav-list-items-item-url:hover {
  color: #998675;
}

.header-nav-menu-input:checked ~ .header-nav-list .header-nav-list-items-item-url:active {
  color: #a3a2a0;
}

.header-nav-menu-input:checked ~ .header-nav-basket {
  position: relative;
  z-index: 1;
}

.header-nav-menu-input:checked ~ .header-nav-basket .header-nav-basket-svg {
  fill: #272727;
}

.header-nav-menu-input:checked ~ .header-nav-basket .header-nav-basket-svg:hover {
  fill: #998675;
}

.header-nav-menu-input:checked ~ .header-nav-basket .header-nav-basket-svg:active {
  fill: #a3a2a0;
}

.header-nav-menu-input:checked ~ .header-nav-search-form {
  position: relative;
  z-index: 1;
}

.header-nav-menu-input:checked ~ .header-nav-search-form .header-nav-search-form-input:focus {
  color: #272727;
  border-bottom: 1px solid #272727;
}

.header-nav-menu-input:checked ~ .header-nav-search-form .header-nav-search-form-label-svg {
  fill: #272727;
}

.header-nav-menu-input:checked ~ .header-nav-search-form .header-nav-search-form-label-svg:hover {
  fill: #998675;
}

.header-nav-menu-input:checked ~ .header-nav-search-form .header-nav-search-form-label-svg:active {
  fill: #a3a2a0;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label .header-nav-menu-label-line {
  background: transparent;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label .header-nav-menu-label-line::before {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
  background: #272727;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label .header-nav-menu-label-line::after {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
  background: #272727;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label:hover .header-nav-menu-label-line::before {
  background: #998675;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label:hover .header-nav-menu-label-line::after {
  background: #998675;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label:active .header-nav-menu-label-line::before {
  background: #a3a2a0;
}

.header-nav-menu-input:checked ~ .header-nav-menu-label:active .header-nav-menu-label-line::after {
  background: #a3a2a0;
}

.header-nav-menu-label {
  display: none;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}

.header-nav-menu-label-line {
  display: block;
  position: relative;
  background: #ffffff;
  height: 2px;
  width: 24px;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.header-nav-menu-label-line::before, .header-nav-menu-label-line::after {
  content: "";
  position: absolute;
  background: currentColor;
  height: 2px;
  width: 24px;
  -webkit-transition: background 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header-nav-menu-label-line::before {
  top: -10px;
}

.header-nav-menu-label-line::after {
  top: 10px;
}

.header-nav-menu-label:hover .header-nav-menu-label-line {
  background: #998675;
}

.header-nav-menu-label:hover .header-nav-menu-label-line::before, .header-nav-menu-label:hover .header-nav-menu-label-line::after {
  background: #998675;
}

.header-nav-menu-label:active .header-nav-menu-label-line {
  background: #a3a2a0;
}

.header-nav-menu-label:active .header-nav-menu-label-line::before, .header-nav-menu-label:active .header-nav-menu-label-line::after {
  background: #a3a2a0;
}

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 0 0 0;
  height: 100%;
}

.header-banner-btn-svg {
  fill: #d3c1ad;
}

.header-banner-btn:nth-child(1) {
  margin: 0 0 0 8%;
}

.header-banner-btn:nth-child(3) {
  margin: 0 8% 0 0;
}

.header-banner-btn:hover .header-banner-btn-svg {
  fill: #a3a2a0;
}

.header-banner-btn:active .header-banner-btn-svg {
  fill: #d3c1ad;
}

.header-banner-content {
  width: 590px;
  text-align: center;
}

.header-banner-content .txt-topic {
  margin: 0 0 15px 0;
  font-size: 36px;
  font-weight: 500;
}

.header-banner-content .txt-head {
  font-weight: bold;
  margin: 0 0 22px 0;
}

.header-banner-content .txt-paragraph {
  margin: 0 0 52px 0;
}

.header-banner-content .btn {
  margin: 0 auto;
}

.header-banner-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px 0 40px 0;
  width: 100%;
}

.header-banner-pagination-btn {
  display: block;
  margin: 0 10px 0 0;
  height: 11px;
  width: 11px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.4;
}

.header-banner-pagination-btn:nth-child(5) {
  margin: 0;
}

.header-banner-pagination-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 1px solid #998675;
  background: transparent;
  opacity: 1;
}

/*----Возможности----*/
.capability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 373px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.capability-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 256px;
  margin: 15px;
  text-align: center;
}

.capability-item-svg-inner {
  width: 50px;
  height: 50px;
  margin: 0 0 29px 0;
}

.capability-item-svg-inner .capability-item-svg {
  display: block;
  fill: #555555;
  width: 50px;
  height: 50px;
}

.capability-item:hover .capability-item-svg {
  fill: #c7b299;
  cursor: pointer;
}

.capability-item-head {
  display: block;
  color: #555555;
  font-size: 24px;
  margin: 0 0 19px 0;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.capability-item-txt {
  position: relative;
  display: block;
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  margin: 0 0 30px 0;
  line-height: 24px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.capability-item-txt::before {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.capability-item:hover .capability-item-head {
  color: #c7b299;
  cursor: pointer;
}

.capability-item:hover .capability-item-txt:before {
  background-color: #c7b299;
}

/*----Идеи----*/
.ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbfaf8;
}

.ideas .txt-wrp .txt-topic {
  text-align: center;
  color: #555555;
}

.ideas .txt-wrp .txt-paragraph {
  text-align: center;
  color: #8c8c8c;
}

.ideas-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1260px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ideas-item-img:nth-child(1) {
  position: absolute;
  left: 15px;
  height: 400px;
  width: 770px;
  background-image: url(../img/browser-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ideas-item-img:nth-child(1):hover {
  z-index: 2;
}

.ideas-item-img:nth-child(2) {
  position: relative;
  z-index: 1;
  height: 482px;
  width: 770px;
  background-image: url(../img/browser-center.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ideas-item-img:nth-child(3) {
  position: absolute;
  right: 15px;
  height: 400px;
  width: 770px;
  background-image: url(../img/browser-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ideas-item-img:nth-child(3):hover {
  z-index: 2;
}

/*----Реклама тем----*/
.advertising {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertising .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.advertising-txt-topic {
  color: #ffffff;
  font-size: 28px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.advertising-txt-topic-brown {
  color: #c7b299;
}

.advertising-txt .txt-paragraph {
  color: #615855;
  font-size: 18px;
}

/*----Проекты----*/
.projects {
  padding: 0 0 80px 0;
}

.projects .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .txt-wrp .txt-topic {
  text-align: center;
  color: #555555;
}

.projects .txt-wrp .txt-paragraph {
  text-align: center;
  color: #8c8c8c;
}

.projects-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-controls-item {
  display: block;
  margin: 0 10px 0 0;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-size: 14px;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background: transparent;
  color: #8c8c8c;
  cursor: pointer;
  font-size: 14px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.projects-controls-item:nth-child(5) {
  margin: 0;
}

.projects-controls-item:hover {
  background: #998675;
  color: #ffffff;
  border: 1px solid #998675;
}

.projects-controls-item:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #a3a2a0;
  border: 1px solid #a3a2a0;
}

.projects .projects-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

.projects .projects-items-item {
  position: relative;
  width: 370px;
  height: 337px;
  background: #fbfaf8;
  margin: 10px;
}

.projects .projects-items-item-img {
  display: block;
}

.projects .projects-items-item-content {
  position: relative;
  padding: 25px 30px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects .projects-items-item-content-title {
  color: #c7b299;
  font-size: 20px;
  margin: 0 0 10px 0;
  display: block;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.projects .projects-items-item-content-txt {
  color: #d1d1d1;
  font-size: 14px;
  margin: 0;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.projects .projects-items-item-content::before {
  position: absolute;
  top: -10px;
  left: 20px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}

.projects .projects-items-item-url {
  position: absolute;
  top: 105px;
  display: none;
}

.projects .projects-items-item-url:nth-child(3) {
  left: 150px;
}

.projects .projects-items-item-url:nth-child(4) {
  right: 150px;
}

.projects .projects-items-item-url-svg {
  fill: white;
}

.projects .projects-items-item:hover {
  background-color: #362f2d;
}

.projects .projects-items-item:hover .projects-items-item-content::before {
  border-bottom: 10px solid #362f2d;
}

.projects .projects-items-item:hover .projects-items-item-url {
  display: block;
}

.projects .projects-items-item:hover .projects-items-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.projects .projects-items-item:hover .projects-items-item-content-title {
  color: #ffffff;
}

.projects .projects-items-item:hover .projects-items-item-content-txt {
  color: #c7b299;
}

.projects .projects-items-item:hover .projects-items-item-url:hover .projects-items-item-url-svg {
  fill: #998675;
}

.projects .projects-items-item:hover .projects-items-item-url:active .projects-items-item-url-svg {
  fill: #a3a2a0;
}

/*----Презентация----*/
.presentation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 705px;
  width: 100%;
}

.presentation-video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30%;
  margin: 0 auto;
}

.presentation-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 0;
  cursor: pointer;
}

.presentation-content-btn-svg {
  fill: #ffffff;
}

.presentation-content-btn:hover .presentation-content-btn-svg {
  fill: #998675;
}

.presentation-content-btn:active .presentation-content-btn-svg {
  fill: #a3a2a0;
}

.presentation-content .txt-wrp {
  padding-top: 44px;
}

.presentation-content .txt-wrp .txt-topic {
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.presentation-content .txt-wrp .txt-paragraph {
  color: #ffffff;
  text-align: center;
}

.presentation-content .projects-content-time {
  display: block;
  color: #c7b299;
  font-size: 14px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*----Мобильная версия----*/
.mobile {
  min-height: 695px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-img {
  display: block;
  margin: 0 20px 0 0;
  -o-object-fit: none;
     object-fit: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 658px;
}

.mobile-content .txt-topic {
  color: #555555;
}

.mobile-content .txt-paragraph {
  color: #8c8c8c;
}

.mobile-content-list {
  list-style-type: none;
  margin: 45px 0 0 0;
  padding: 0 0 0 49px;
  font-size: 16px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mobile-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  position: relative;
  margin: 0 0 15px 0;
}

.mobile-content-list-item .fa-chevron-circle-right {
  font-size: 21px;
  color: #c7b299;
  margin: 0 30px 0 0;
}

.mobile-content-list-item:nth-child(4) {
  margin: 0;
}

/*----Статистика----*/
.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
  min-height: 300px;
}

.statistic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "montserrat", "arial", sans-serif;
  font-style: normal;
  width: 150px;
  min-height: 180px;
  margin: 22.5px;
}

.statistic-item::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background: #ffffff;
  bottom: 0;
}

.statistic-item-img {
  display: block;
  margin: 0 0 30px 0;
}

.statistic-item-img-svg {
  fill: #c7b299;
}

.statistic-item-number {
  display: block;
  font-weight: 200;
  font-size: 48px;
  color: #ffffff;
  margin: 0 0 10px 0;
}

.statistic-item-title {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  text-align: center;
}

/*----Посты----*/
.postst {
  min-height: 754px;
}

.postst .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.postst .txt-wrp .txt-topic {
  text-align: center;
  color: #555555;
}

.postst .txt-wrp .txt-paragraph {
  text-align: center;
  color: #8c8c8c;
}

.postst-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postst-items-item {
  position: relative;
  width: 370px;
  height: 395px;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
}

.postst-items-item-img {
  display: block;
}

.postst-items-item-calendar {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 60px;
  text-align: center;
  color: #ffffff;
}

.postst-items-item-calendar-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px 3px 0 0;
  height: 35px;
  font-size: 24px;
  font-family: "montserrat", "arial", sans-serif;
  line-height: 24px;
  font-weight: 300;
  background: #363636;
}

.postst-items-item-calendar-mounth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 3px 3px;
  height: 25px;
  font-size: 12px;
  font-family: "roboto", "arial", sans-serif;
  font-weight: 400;
  background: #252525;
}

.postst-items-item-pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.postst-items-item-pagination-btn {
  display: block;
  margin: 0 10px 0 0;
  height: 11px;
  width: 11px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.4;
}

.postst-items-item-pagination-btn:nth-child(5) {
  margin: 0;
}

.postst-items-item-pagination-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 1px solid #d3c1ad;
  background: transparent;
  opacity: 1;
}

.postst-items-item-content {
  position: relative;
  padding: 25px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.postst-items-item-content-title {
  color: #555555;
  font-size: 20px;
  margin: 0 0 10px 0;
  display: block;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.postst-items-item-content-txt {
  color: #8c8c8c;
  font-size: 14px;
  margin: 0;
  font-family: "montserrat", "arial", sans-serif;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
}

.postst-items-item-content-url {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #c7b299;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 27px 0 0 0;
  position: relative;
}

.postst-items-item-content-url::before {
  position: absolute;
  left: 85px;
  top: 2px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #c7b299;
  border-bottom: 5px solid transparent;
}

.postst-items-item-content-url:hover {
  color: #ffffff;
}

.postst-items-item-content-url:hover::before {
  border-left: 8px solid #ffffff;
}

.postst-items-item-content-url:active {
  color: #c7b299;
}

.postst-items-item-content-url:active::before {
  border-left: 8px solid #c7b299;
}

.postst-items-item:hover {
  background-color: #362f2d;
}

.postst-items-item:hover .postst-items-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.postst-items-item:hover .postst-items-item-calendar-day {
  background: #c7b299;
}

.postst-items-item:hover .postst-items-item-calendar-mounth {
  background: #a48d72;
}

.postst-items-item:hover .postst-items-item-content-title {
  color: #c7b299;
}

.postst-items-item:hover .postst-items-item-content-txt {
  color: #ffffff;
}

.postst-controls {
  margin: 20px 0;
}

.postst-controls-btn {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0 8px 0 0;
  cursor: pointer;
}

.postst-controls-btn:nth-child(2) {
  margin: 0;
}

.postst-controls-btn .fal {
  font-size: 22px;
  color: #d3d3d3;
}

.postst-controls-btn:hover .fal {
  color: #cab79f;
}

.postst-controls-btn:active .fal {
  color: #d3d3d3;
}

/*----Партнеры----*/
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 490px;
  background-image: url(../img/photo-partners.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*Добавил на случай появления новых партнеров в этот блок*/
}

.partners .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin: 40px;
}

.partners-partner-img {
  width: 210px;
  -o-object-fit: none;
     object-fit: none;
}

.partners-partner:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

/*----Футер----*/
.footer {
  /*----Верхня часть----*/
  /*----НИжняя часть----*/
}

.footer-top {
  background: #191919;
  padding: 80px 0;
}

.footer-top .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top-about {
  width: 260px;
  margin: 0 5px 0 0;
}

.footer-top-about-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  height: 56px;
  color: #ffffff;
}

.footer-top-about-logo-svg {
  fill: currentColor;
}

.footer-top-about-logo-txt {
  font-size: 34px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-top-about-txt {
  color: #555555;
  font-size: 14px;
  margin: 30px 0 0 0;
  font-family: "montserrat", "arial", sans-serif;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
}

.footer-top-about-url {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #d1d1d1;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 58px 0 0 0;
  position: relative;
}

.footer-top-about-url::before {
  position: absolute;
  left: 85px;
  top: 2px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #d1d1d1;
  border-bottom: 5px solid transparent;
}

.footer-top-about-url:hover {
  color: #c7b299;
}

.footer-top-about-url:hover::before {
  border-left: 8px solid #c7b299;
}

.footer-top-about-url:active {
  color: #d1d1d1;
}

.footer-top-about-url:active::before {
  border-left: 8px solid #d1d1d1;
}

.footer-top-content {
  margin: 0 5px 0 0;
  width: 265px;
  padding: 28px 0 0 0;
}

.footer-top-content-title {
  display: block;
  font-size: 24px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.footer-top-content-url {
  display: block;
  text-decoration: none;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-bottom: 1px solid #252525;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-top-content-url-time {
  display: block;
  font-size: 12px;
  color: #363636;
  margin: 0 0 10px 0;
}

.footer-top-content-url-prg {
  display: block;
  font-size: 14px;
  color: #555555;
  margin: 0;
}

.footer-top-content-url-prg .twit {
  color: #00bff3;
}

.footer-top-content-url-prg .bit {
  color: #959595;
}

.footer-top-content-url-timestamp {
  display: block;
  font-size: 12px;
  color: #363636;
  margin: 10px 0 0 0;
}

.footer-top-content-url:nth-child(4) {
  border: none;
}

.footer-top-content-url:hover .footer-top-content-url-time {
  color: #ffffff;
}

.footer-top-content-url:hover .footer-top-content-url-prg {
  color: #c7b299;
}

.footer-top-content-url:hover .footer-top-content-url-timestamp {
  color: #ffffff;
}

.footer-top-widget {
  width: 280px;
  padding: 28px 0 0 0;
}

.footer-top-widget-title {
  display: block;
  font-size: 24px;
  font-family: "raleway", "arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.footer-top-widget-inner {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top-widget-inner-img {
  margin: 5px;
  height: 98px;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-top-widget-inner-img:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.footer-bottom {
  background: #111111;
  padding: 46px 0;
}

.footer-bottom .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-item {
  padding: 0 12px;
  border-right: 1px solid #555555;
  line-height: 10px;
}

.footer-bottom-item-txt {
  font-size: 13px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
}

.footer-bottom-item-txt ~ .footer-bottom-item-url {
  color: #d1d1d1;
}

.footer-bottom-item-url {
  font-size: 13px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
  text-decoration: none;
}

.footer-bottom-item-url:hover {
  color: #c7b299;
}

.footer-bottom-item:nth-child(4) {
  margin: 0 auto 0 0;
  padding: 0 0 0 12px;
  border: none;
}

.footer-bottom-item:first-child, .footer-bottom-item:nth-child(5) {
  padding: 0 12px 0 0;
}

.footer-bottom-item:last-child {
  border: none;
  padding: 0 0 0 12px;
}

.scroll {
  background: #fff;
  color: #333;
  -webkit-box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
          box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
}

.color {
  color: #272727;
  fill: #272727;
  border: #272727;
}

.bc-color {
  background: #272727;
}

.br-color {
  color: #272727;
  border-bottom: 1px solid #272727;
}

.hiden {
  display: none;
}

@media (max-width: 1200px) {
  .header-banner-btn:nth-child(1) {
    margin: 0 0 0 5%;
  }
  .header-banner-btn:nth-child(3) {
    margin: 0 5% 0 0;
  }
  .header-nav-basket {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 992px) {
  .header-banner-btn:nth-child(1) {
    margin: 0 0 0 3%;
  }
  .header-banner-btn:nth-child(3) {
    margin: 0 3% 0 0;
  }
  .capability,
  .statistic {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .header-banner-btn:nth-child(1),
  .header-banner-btn:nth-child(3),
  .ideas-item-img:nth-child(1),
  .ideas-item-img:nth-child(3) {
    display: none;
  }
  .header-nav-list {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  .header-nav-list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    margin: 50px 0 0 0;
  }
  .header-nav-list-items-item {
    display: block;
    font-size: 20px;
    font-family: "montserrat", "arial", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .header-nav-list-items-item-url {
    color: transparent;
    line-height: 40px;
  }
  .header-nav-search-form {
    padding: 0 0 0 15px;
  }
  .header-nav-search-form-input:focus {
    left: -130px;
  }
  .header-nav-basket {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 0 0 0 auto;
    padding: 0 0 0 15px;
  }
  .header-nav-menu-label {
    display: block;
  }
  .ideas-item-img:nth-child(2) {
    height: 282px;
    width: 470px;
  }
  .header-banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
  }
  .footer-bottom .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom-item:nth-child(5),
  .footer-bottom-item:nth-child(6) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-bottom-item:nth-child(4) {
    margin: 0;
  }
  .footer-bottom .wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 768px) {
  .txt-wrp {
    padding: 50px 0 30px 0;
  }
  .capability-item {
    margin: 10px;
  }
  .advertising {
    display: none;
  }
  .projects {
    padding: 0 0 40px 0;
  }
  .projects-controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-controls-item {
    margin: 5px;
  }
  .projects-controls-item:nth-child(5) {
    margin: 5px;
  }
  .mobile {
    padding: 50px 0 0 0;
    min-height: auto;
  }
  .mobile-content {
    max-width: 100%;
    padding: 0 15px;
  }
  .mobile-content .txt-topic {
    text-align: center;
  }
  .mobile-img {
    display: none;
  }
  .mobile-content-list {
    padding: 0 0 0 20px;
    background-image: url(../img/iPhone-in-hand.png);
    background-repeat: no-repeat;
    height: 400px;
    background-size: contain;
    padding: 0 0 0 250px;
  }
  .statistic-item {
    margin: 10px;
  }
  .partners-partner {
    margin: 25px;
  }
  .footer-top {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    height: 100px;
    background-position: center;
  }
  .header-nav {
    height: 100px;
  }
  .header-banner {
    display: none;
  }
  .header-nav-search-form-input:focus {
    left: -5000px;
  }
  .presentation {
    display: none;
  }
  .partners-partner-img {
    width: 150px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}

@media (max-width: 480px) {
  .mobile {
    padding: 50px 0 40px 0;
  }
  .mobile-content-list {
    padding: 0;
    background-image: none;
    height: auto;
  }
  .statistic-item {
    margin: 5px;
  }
}
