// Экстрабольшие девайсы (большие десктопы, <= 1600px)
@media (max-width: 1600px) {
}

// Экстрабольшие девайсы (большие десктопы, <= 1200px)
@media (max-width: 1200px) {
  //Социальные сети
  .social {
    &__container {
    }
    &__items {
      justify-content: center;
    }
    &__item {
      margin: 10px 10px 10px 10px;
    }
  }
}

// Большие девайсы (десктопы, <= 992px)
@media (max-width: 992px) {
  // ?Тренируйся с нами и стань чемпионом
  .services {
    &__items {
      justify-content: center;
    }
  }
  // ?Карате больше чем просто спорт
  .quality {
    &__items {
      justify-content: center;
    }
  }
}

// Средние девайсы («таблетки», <= 768px)
@media (max-width: 768px) {
  //? Шапка
  .header {
    &__button {
      display: none;
    }
    &__phones {
      margin: 0 0 0 auto;
    }
  }
  // ?О федерации
  .federation {
    &__container {
      flex-flow: column nowrap;
      align-items: center;
    }
    &__img {
      max-width: 500px;
    }
    &__content {
      align-items: center;
      padding: 30px 0 50px 0;
    }
    &__title {
      align-self: flex-start;
      margin: 40px 0 0 0;
    }
    &__subtitle {
      align-self: flex-start;
    }
    &__txt {
    }
  }
  // Карта
  .map {
    &__info {
      max-width: 220px;
    }
  }
  // ?Основатели первых курсов самообороны для женщин
  .self-defence {
    height: 720px;
    & > div {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, #000000 100%);
    }
  }
  // ?Подвал
  .footer {
    &-social {
      display: none;
    }
  }
}

// Малые девайсы («ландшафтные телефоны», <= 576px)
@media (max-width: 576px) {
  //? Шапка
  .header {
    &__button {
      display: none;
    }
    &__phones {
      margin: 0 0 0 auto;
    }
  }
  // Карта
  .map {
    &__container {
      padding: 10px 15px 15px 15px;
      position: absolute;
      bottom: 40px;
    }
    &__info {
      max-width: initial;
      width: 100%;
    }
  }
  // ?Подвал
  .footer {
    &__container {
      flex-flow: column nowrap;
    }
    &__logo {
      order: 1;
      flex-flow: row nowrap;
      max-width: initial;
      align-items: center;
      & > img {
        height: 80px;
        margin: 0 10px 0 0;
      }
    }
    &__address {
      margin: 0 0 20px 20px;
    }
  }
}
