// Экстрабольшие девайсы (большие десктопы, <= 1600px)
@media (max-width: 1600px) {
}

// Экстрабольшие девайсы (большие десктопы, <= 1200px)
@media (max-width: 1200px) {
  //Социальные сети
  .social {
    &__items {
      justify-content: center;
    }
  }
}

// Большие девайсы (десктопы, <= 992px)
@media (max-width: 992px) {
  // ?Возрастные группы
  .grouptype {
    &__container {
      padding: 10px 40px 10px 40px;
    }
  }
  // Карта
  .map {
    &__info {
      max-width: 240px;
    }
  }
  // ?Тренируйся с нами и стань чемпионом
  .services {
    &__items {
      justify-content: center;
    }
  }
  // ?Карате больше чем просто спорт
  .quality {
    &__items {
      justify-content: center;
    }
  }
}

// Средние девайсы («таблетки», <= 768px)
@media (max-width: 768px) {
  //? Шапка
  .header {
    &__button {
      display: none;
    }
    &__phones {
      display: none;
    }
  }
  // ?Возрастные группы
  .grouptype {
    &__container {
      //max-width: 440px;
    }
    .grouptype__item + .grouptype__item {
      //margin: 30px 0 0 0;
    }
  }
  // ?Смотрите наши видео на youtube
  .youtube {
    &-item__title {
      margin: 15px 0 0 0;
    }
  }
  // ?О федерации
  .federation {
    &__container {
      flex-flow: column nowrap;
      align-items: center;
    }
    &__img {
      max-width: 500px;
    }
    &__content {
      align-items: center;
      padding: 40px 0 50px 0;
    }
    &__title {
      align-self: flex-start;
      margin: 30px 0 0 0;
    }
    &__subtitle {
      align-self: flex-start;
    }
  }
  //? Достижения
  .achievements {
    &__item {
      max-width: 420px;
      padding: 15px 20px 15px 20px;
    }
  }
  // Карта
  .map {
    &__info {
      //max-width: 220px;
      display: none;
    }
  }
  // ?Карате больше чем просто спорт
  .quality {
    &__items {
      margin: 25px auto -15px auto;
    }
    &__item {
      margin: 15px 15px 15px 15px;
    }
    &-item {
    }
  }
  // ?Основатели первых курсов самообороны для женщин
  .self-defence {
    height: 720px;
    background-position: 37% 55%;
    & > div {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, #000000 100%);
    }
  }
  // ?Подвал
  .footer {
    &-social {
      display: none;
    }
  }
}

// Малые девайсы («ландшафтные телефоны», <= 576px)
@media (max-width: 576px) {
  body {
    background-color: #ededed;
  }
  .container-box {
    padding: 50px 15px 40px 15px;
  }
  //Блок с кнопкой
  .free-lesson {
    margin: 40px 0 0 0;
  }

  //? Шапка
  .header {
    &__container {
      //margin: 5px 0 5px 0;
      height: 48px;
    }
    &__logo {
      margin: 0 10px 0 0;
      & > img {
        height: 35px;
      }
    }
    &__title {
      //display: flex;
      //align-items: center;
      & > span:last-child {
        display: none;
      }
    }
    &__button {
      display: none;
    }
    &__phones {
      margin: 0 0 0 auto;
    }
    &__mobile-ico {
      display: flex;
    }
  }
  // ?Баннер
  .banner {
    min-height: 640px;
    padding: 40px 0 0 0;
    margin: 48px 0 0 0;
    &__container {
      > *:not(:last-child) {
        margin: initial;
      }
    }
    &__title {
      font-size: 58px;
    }
    &__subtitle {
      font-size: 32px;
    }
    &__button {
      margin: 280px 0 0 0;
    }
  }
  // ?Возрастные группы
  .grouptype {
    &__container {
      padding: 10px 20px 10px 20px;
    }
    &__item {
      max-width: initial;
      & + .grouptype__item {
        margin: 20px 15px 10px 15px;
      }
    }
  }
  // ?Тренируйся с нами и стань чемпионом
  .services {
    &__items {
      margin: 20px auto -10px auto;
    }
    &__item {
      flex-flow: row nowrap;
      max-width: initial;
      margin: 10px 30px 10px 40px;
      //max-width: 200px;
    }
    &-item {
      &__ico {
        min-width: 60px;
      }
      &__title {
        text-align: initial;
        margin: 0 0 0 20px;
      }
    }
  }
  // ?Квалифицированные и опытные тренера
  .coach {
    &__items {
      margin: 20px 0 0 0;
      flex-flow: row nowrap;
      overflow: auto;
      justify-content: flex-start;
      padding: 0 0 5px 0;
    }
    &-item {
      padding: 25px 10px 25px 10px;
      &__img {
        margin: 0 0 20px 0;
      }
      //&__title {
      //  margin: 0 0 5px 0;
      //}
      //& > span:nth-last-of-type(2) {
      //  margin: auto 0 5px 0;
      //}
      //& > span:nth-of-type(2) {
      //  margin: 0 0 10px 0;
      //}
    }
  }
  // ?Смотрите наши видео на youtube
  .youtube {
    &__container {
      & > div:nth-of-type(1) {
        margin: 0 -15px -10px -15px;
      }
    }
    &__items {
      margin: 20px 0 0 0;
    }
    &__item {
      margin: 10px 20px 10px 20px;
    }
    &-item__title {
      margin: 10px 0 0 0;
    }
  }
  // ?Мы в социальных сетях и на карте Ташкента
  //Социальные сети
  .social {
    &__items {
      margin: 30px auto -10px auto;
    }
    &-item {
      min-width: initial;
      &__title {
        //margin: 10px 0 0 0;
        display: none;
      }
    }
  }
  // Карта
  .map {
    &__container {
      padding: 10px 15px 15px 15px;
      position: absolute;
      bottom: 0;
    }
    &__info {
      max-width: initial;
      width: 100%;
    }
  }
  // ?Карате больше чем просто спорт
  .quality {
    &__items {
      margin: 20px auto -10px auto;
    }
    &__item {
      max-width: 440px;
      margin: 10px 10px 10px 10px;
    }
    &-item {
      &__title {
        margin: 10px 0 0 0;
      }
    }
  }
  // ?Подвал
  .footer {
    &__container {
      flex-flow: column nowrap;
    }
    &__logo {
      order: 1;
      flex-flow: row nowrap;
      max-width: initial;
      align-items: center;
      & > img {
        height: 80px;
        margin: 0 10px 0 0;
      }
    }
    &__address {
      margin: 0 0 20px 20px;
    }
  }
}
