@media (max-width: 1200px) {
  .header-banner {
    padding: 15% 5% 30px 5%;
  }
  // .header-banner-btn:nth-child(1) {
  //   margin: 0 0 0 5%;
  // }
  // .header-banner-btn:nth-child(3) {
  //   margin: 0 5% 0 0;
  // }
  .header-nav-basket {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 992px) {
  .header-banner-btn:nth-child(1) {
    margin: 0 0 0 3%;
  }
  .header-banner-btn:nth-child(3) {
    margin: 0 3% 0 0;
  }
  .capability,
  .statistic {
    flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .header-banner-btn:nth-child(1),
  .header-banner-btn:nth-child(3),
  .ideas-item-img:nth-child(1),
  .ideas-item-img:nth-child(3) {
    display: none;
  }
  .header-nav-list {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0;

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: none;
      margin: 50px 0 0 0;

      &-item {
        display: block;
        font-size: 20px;
        font-family: "montserrat", "arial", sans-serif;
        font-weight: 500;
        font-style: normal;

        &-url {
          color: transparent;
          line-height: 40px;
        }
      }
    }
  }
  .header-nav-search-form {
    padding: 0 0 0 15px;
    &-input:focus {
      left: -130px;
    }
  }
  .header-nav-basket {
    flex-grow: 0;
    margin: 0 0 0 auto;
    padding: 0 0 0 15px;
  }
  .header-nav-menu-label {
    display: block;
  }
  .header-banner {
    justify-content: center;
    padding: 15% 5% 20px 5%;
  }
  .ideas-item-img:nth-child(2) {
    height: 282px;
    width: 470px;
  }
  .footer-bottom .wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-bottom-item:nth-child(5),
  .footer-bottom-item:nth-child(6) {
    order: 1;
  }
  .footer-bottom-item:nth-child(4) {
    margin: 0;
  }
  .footer-bottom .wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    order: 0;
  }
}

@media (max-width: 768px) {
  .txt-wrp {
    padding: 50px 0 30px 0;
  }
  .capability-item {
    margin: 15px 10px;
    &-svg-inner {
      margin: 0 0 15px 0;
    }
    &-txt {
      margin: 0 0 25px 0;
    }
  }
  .advertising {
    display: none;
  }
  .projects {
    padding: 0 0 40px 0;
    &-controls {
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        margin: 5px;
        &:nth-child(5) {
          margin: 5px;
        }
      }
    }
  }
  .mobile {
    padding: 50px 0 0 0;
    min-height: auto;
  }
  .mobile-content {
    max-width: 100%;
    padding: 0 15px;
  }
  .mobile-content .txt-topic {
    text-align: center;
  }
  .mobile-img {
    display: none;
  }
  .mobile-content-list {
    padding: 0 0 0 20px;
    background-image: url(../img/iPhone-in-hand.png);
    background-repeat: no-repeat;
    height: 400px;
    background-size: contain;
    padding: 0 0 0 250px;
  }
  .statistic-item {
    margin: 15px 10px;
    min-height: 150px;
    &-img {
      margin: 0px 0 15px 0;
    }
    &-title {
      margin: 0 0 25px 0;
    }
  }
  .partners-partner {
    margin: 25px;
  }
  .footer-top {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    height: 100px;
    background-position: center;
    &-nav {
      height: 100px;
      &-search-form {
        &-input:focus {
          left: -126px;
          ~ .header-nav-logo {
            display: none;
          }
        }
      }
      &-list-items {
        align-items: flex-end;
        margin: 100px 0 0 0;
        padding: 0 20px;
        width: auto;
      }
    }
    &-banner {
      display: none;
    }
  }
  .projects-items-item {
    margin: 10px 0;
  }
  .presentation {
    display: none;
  }
  .postst-items-item {
    margin: 10px 0;
  }
  .partners-partner {
    &-img {
      width: 150px;
      object-fit: scale-down;
    }
  }
}

@media (max-width: 480px) {
  .wrap {
    padding: 0 10px;
  }

  .ideas-item-img:nth-child(2) {
    height: 235px;
  }
  .mobile {
    padding: 50px 0 40px 0;
  }
  .mobile-content {
    padding: 0 10px;
    &-list {
      padding: 0;
      background-image: none;
      height: auto;
    }
  }

  .footer-bottom-item {
    padding: 0px 3px;
    &:nth-child(1),
    &:nth-child(5) {
      padding: 0px 3px 0 0;
    }
    &:nth-child(4),
    &:nth-child(6) {
      padding: 0px 0 0 3px;
    }
  }
}
