// расширения
// %border {
//   border: 1px solid;
//
// }
// @extend %border;

// миксины
// @mixin bordercol($col) {
//   border: 1px solid $col;
//
// }
// @include bordercol(black);

@import "_fonts.scss";

html,
:root {
  box-sizing: border-box;
  font-size: 14px;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  // line-height: 22px;
  // color: #4f4f4f;
}

//? Заголовки
.h1-like {
  display: block;
  font-size: 60px;
  line-height: 72px;
}
.h2-like {
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}
.page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

//? Поля
//Текстовое поле
.input-txt {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 63px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 0 20px 0 20px;
}
//Числовое поле
.input-number {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 63px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 0 20px 0 20px;
}
//Текст-ареа
.textarea {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 113px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 10px 20px 10px 20px;
}
//Радио
.input-radio {
  display: none;
  &:checked {
    & + .radio-style::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 8px;
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #f5c108;
    }
  }
}
.radio {
  &-inner {
    display: flex;
    align-items: center;
  }
  &-style {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 0 15px 0 0;
  }
}
//Чекбокс
.input-check {
  display: none;
  &:checked {
    & + .check-style::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 5px;
      display: block;
      width: 36px;
      height: 18px;
      border-left: 4px solid #f5c108;
      border-bottom: 4px solid #f5c108;
      transform: rotate(-47deg);
    }
  }
}
.check {
  &-inner {
    display: flex;
    align-items: center;
  }
  &-style {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    margin: 0 20px 0 0;
  }
}
//Кнопка
.input-sub {
  position: relative;
  height: 63px;
  width: 236px;
  border: 3px solid transparent;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  //!
  transition: 0.2s linear;
  &:hover {
    border: 3px solid #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    height: 63px;
    width: 165px;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: -3px;
    display: block;
    height: 63px;
    width: 165px;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}

//!Шапка
.header {
  // position: relative;
  height: 100vh;
  &-mobile {
    display: none;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 16px;
    height: 48px;
    // background: rgba(0, 0, 0, 0.8);
    background: #303030;

    // &-chk {
    //   display: none;
    //   &:checked + .header-mobile-label > div {
    //     &:first-child {
    //       top: 15px;
    //       transform: rotate(45deg);
    //       transition: top 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84),
    //         transform 0.1596s 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84);
    //     }
    //     &:last-child {
    //       bottom: 14px;
    //       transform: rotate(-45deg);
    //       transition: bottom 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84),
    //         transform 0.1596s 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84);
    //     }
    //   }
    // }
    // &-label {
    //   position: relative;
    //   width: 30px;
    //   height: 30px;
    //   cursor: pointer;

    //   div {
    //     display: block;
    //     width: 17px;
    //     height: 1px;
    //     background: #fff;
    //     border-radius: 0.5px;
    //     position: absolute;
    //     left: 7px;
    //     // z-index: 1;
    //     &:first-child {
    //       top: 11px;
    //       transition: top 0.1596s 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84),
    //         transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84);
    //     }
    //     &:last-child {
    //       bottom: 11px;
    //       transition: bottom 0.1596s 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84),
    //         transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84);
    //     }
    //   }
    // }

    &-chk {
      display: none;
      &:checked ~ .header-mobile .header-mobile-label > div {
        &:first-child {
          top: 15px;
          transform: rotate(45deg);
          transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:last-child {
          bottom: 14px;
          transform: rotate(-45deg);
          transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
    &-label {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      div {
        display: block;
        width: 17px;
        height: 1px;
        background: #fff;
        border-radius: 0.5px;
        position: absolute;
        left: 7px;
        // z-index: 1;
        &:first-child {
          top: 11px;
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:last-child {
          bottom: 11px;
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
    &-logo {
      position: absolute;
      left: 50%;
      right: 50%;
    }
  }
  &-nav {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 30px 0 30px;
    color: #ffffff;
    fill: #ffffff;
    // transition: 0.2s linear;
    z-index: 10;
    &.header-nav--top {
      height: 120px;
      background-color: #002844;
      // background-color: #ffffff;
      // color: #000000;
      // fill: #000000;
      box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
    }
  }
  &-banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15% 0 15%;
  }
  &-scroll {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    &-ico {
      position: relative;
      width: 28px;
      height: 41px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 18.5px;
      margin: 0 0 13px 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 9px;
        width: 6px;
        height: 10px;
        background: #ffffff;
        border-radius: 10px;
        animation: wheel 1.2s linear infinite;
      }
    }
  }
}
.banner {
  &-title {
    position: relative;
    padding: 35px 50px 35px 50px;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 550px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100px;
      height: 90px;
      border-top: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
    }
  }
  &-pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li + li {
      margin: 35px 0 0 0;
    }
    & > li > a {
      display: block;
      width: 9px;
      height: 9px;
      background: #ffffff;
      opacity: 0.5;
      border-radius: 50%;
      //!
      transition: 0.1s linear;
      &:hover {
        background: #f5c108;
        opacity: initial;
      }
    }
    & > li:nth-of-type(2) a {
      background: #f5c108;
      opacity: initial;
    }
  }
}
.logo {
  fill: inherit;
}
.navbar {
  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    & > li + li {
      margin: 0 0 0 55px;
    }
    & > li > a {
      text-decoration: none;
      color: inherit;
      padding: 3px 0;
      //!
      transition: border-bottom 0.1s linear;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #f5c108;
      }
    }
  }
}

//!Основной контент
.aboutus {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 80px 120px 90px 120px;
  &-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #005794;
    & > .page-title {
      margin: 25px 0 0 0;
    }
  }
  .h2-like {
    margin: 45px 0 0 0;
  }
  &-progress {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
    margin: 45px 0 0 0;
    &-item {
      flex: 1 1;
      max-width: 400px;
      min-width: 220px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    &-ico {
      display: flex;
      align-items: center;
      height: 130px;
    }
    &-title {
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin: 21px 0 0 0;
    }
  }
  &-steps {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 65px 0 0 0;
    &-item {
      flex: 1 1;
      // max-width: 270px;
      min-width: 210px;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      padding: 5px 20px 20px 20px;
      text-decoration: none;
      border: 1px solid #e0e0e0;
      margin: -1px 0 0 -1px;
      // border-top: 1px solid #e0e0e0;
      // border-right: 1px solid #e0e0e0;
      // border-bottom: 1px solid #e0e0e0;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: right;
      // & + .aboutus-steps-item {
      //   border-left: 1px solid #e0e0e0;
      // }
      background-image: url(../img/step_background_1.png);
      transition: 0.2s linear;
      &:hover {
        box-shadow: -2px 25px 30px rgba(0, 0, 0, 0.1);
        background-image: url(../img/step_background.png);
        & > .aboutus-steps-title {
          color: #005794;
        }
      }
    }
    &-title {
      font-weight: 900;
      font-size: 36px;
      line-height: 72px;
      text-transform: uppercase;
      color: #444444;
      transition: color 0.2s linear;
    }
    &-content {
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      margin: 5px 0 0 0;
    }
  }
}
.presentation {
  position: relative;
  height: 100vh;
  &-video {
    object-fit: cover;
  }
  &-btn {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    cursor: pointer;
    &.presentation-btn--hiden {
      display: none;
    }
  }
}
.services {
  display: flex;
  flex-flow: row nowrap;
  min-height: 635px;
  margin: -1px 0 0 0;
  &-item {
    position: relative;
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 30px 30px 30px 30px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      //!
      transition: 0.2s linear;
      background-image: linear-gradient(to bottom, #000000 0%, #0072c2 100%);
      opacity: 0;
    }
    &:hover {
      & > .services-arrow {
        // display: block;
        opacity: 1;
      }
      &::before {
        content: "";
        // display: block;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // background-image: linear-gradient(to bottom, #000000 0%, #0072c2 100%);
        opacity: 0.7;
      }
    }
    &:nth-child(1) {
      background-image: url(../img/services_1.png);
    }
    &:nth-child(2) {
      background-image: url(../img/services_2.png);
    }
    &:nth-child(3) {
      background-image: url(../img/services_3.png);
    }
    &:nth-child(4) {
      background-image: url(../img/services_4.png);
    }
    &:nth-child(5) {
      background-image: url(../img/services_5.png);
    }
  }
  &-arrow {
    // display: none;
    //!
    transition: 0.2s linear;
    opacity: 0;
    position: relative;
    z-index: 1;
  }
  &-title {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 80px 0 0 0;
  }
}
.work {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 80px 120px 90px 120px;
  background: #002844;
  color: #ffffff;
  &-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    & > .page-title {
      margin: 25px 0 0 0;
    }
  }
  .h2-like {
    margin: 45px 0 0 0;
  }
  &-form {
    margin: 40px 0 0 0;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    .input-txt,
    .textarea {
      width: 100%;
    }
    .input-number {
      width: 145px;
    }
  }
  &-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .radio-inner {
      &:last-child {
        margin: 0 0 0 50px;
      }
    }
    & + .work-field {
      margin: 20px 0 0 0;
    }
    // &:nth-child(4) > div:nth-child(2) {
    //   margin: 0 0 0 auto;
    // }
    a {
      color: #ffffff;
    }
    .check-inner > label:nth-of-type(2) {
      display: block;
      width: 300px;
    }
    &-radio {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
.vacancies {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 507px;
  padding: 80px 120px 90px 120px;
  color: #ffffff;
  background-image: url(../img/vacancies.png);
  background-repeat: no-repeat;
  background-size: cover;
  &-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    & > .page-title {
      margin: 25px 0 0 0;
    }
  }
  .h2-like {
    margin: 45px 0 0 0;
  }
  .input-sub {
    margin: 38px 0 0 0;
  }
  &-pagination {
    display: flex;
    margin: 50px 0 0 0;
    list-style: none;
    padding: 0;
    & > li + li {
      margin: 0 0 0 35px;
    }
    & > li > a {
      display: block;
      width: 9px;
      height: 9px;
      background: #ffffff;
      opacity: 0.5;
      border-radius: 50%;
      //!
      transition: 0.1s linear;
      &:hover {
        background: #f5c108;
        opacity: initial;
      }
    }
    & > li:nth-of-type(2) a {
      background: #f5c108;
      opacity: initial;
    }
  }
}

//!Футер
.footer {
  display: flex;
  flex-flow: row nowrap;
  padding: 65px 30px 60px 30px;
  color: #ffffff;
  fill: #ffffff;
  background-color: #000000;
  min-height: 392px;
  &-company {
    flex: 1.75 1;
    display: flex;
    flex-flow: column nowrap;
    opacity: 0.5;
    p:first-of-type {
      max-width: 300px;
    }
    p:last-of-type {
      font-weight: 300;
      font-size: 14px;
      line-height: 32px;
      margin: auto 0 0 0;
    }
  }
  &-nav {
    flex: 1.25 1;
    padding: 0;
    margin: 0;
    list-style: none;
    & > li + li {
      margin: 25px 0 0 0;
    }
    & > li > a {
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      padding: 3px 0;
      border-bottom: 2px solid transparent;
      //!
      transition: 0.1s linear;
      &:hover {
        border-bottom: 2px solid #f5c108;
      }
    }
  }
  &-contact {
    flex: 2 1;
    opacity: 0.5;
  }
  &-txt {
    margin: 5px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  &-title {
    margin: 15px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    &:first-child {
      margin: 0;
    }
  }
}

//Анимация стрелки вниз
@keyframes wheel {
  to {
    opacity: 0;
    top: 22px;
  }
}

//Подключение медиа запросов
@import "_media.scss";
