// Малые девайсы («ландшафтные телефоны», <= 576px)
@media (max-width: 576px) {
}

// Средние девайсы («таблетки», <= 768px)
@media (max-width: 768px) {
  .employee-main-photo {
    display: none;
  }
  .employee-emergency-main {
    flex: 2 1 100%;
  }
  .employee-emergency-child-inner {
    flex-flow: row wrap;
  }
}

// Большие девайсы (десктопы, <= 992px)
@media (max-width: 992px) {
}

// Экстрабольшие девайсы (большие десктопы, <= 1200px)
@media (max-width: 1200px) {
  .employee-emergency-child {
    flex: 4 1;
  }
  .employee-main-fields-inner:nth-child(1) {
    .field-label {
      width: 125px;
    }
  }
  .employee-passport-fields-inner {
    .field-label {
      &.passport {
        width: 50px;
        margin: 0 10px 0 40px;
      }
    }
  }
}

// Экстрабольшие девайсы (большие десктопы, <= 1600px)
@media (max-width: 1600px) {
  .home-table-header-col {
    &:nth-child(6) {
      width: 120px;
    }
    &:nth-child(7) {
      width: 130px;
      .home-table-title {
        width: 110px;
      }
    }
  }
  .employee-passport-fields-inner {
    .field-label {
      &.passport {
        width: 30px;
        margin: 0 10px 0 40px;
      }
    }
  }
  .employee-table-header-col {
    &:first-child {
      width: 80px;
    }
    &:nth-child(2) {
      min-width: 145px;
    }
    &:nth-child(3) {
      width: 160px;
    }
    &:nth-child(4) {
      width: 100px;
    }
    &:nth-child(5) {
      width: 100px;
      span {
        width: 60px;
      }
    }
    &:nth-child(6) {
      width: 140px;
      .employee-table-title {
        width: 82px;
      }
    }
    &:last-child {
      width: 90px;
    }
  }
  .vehicle-table-header-col {
    &:first-child {
      width: 80px;
    }
    &:nth-child(2) {
      min-width: 145px;
    }
    &:nth-child(3) {
      width: 100px;
    }
    &:nth-child(4) {
      // width: 100px;
    }
    &:nth-child(5) {
      width: 100px;
      span {
        width: 60px;
      }
    }
    &:nth-child(6) {
      width: 140px;
      span {
        width: 82px;
      }
    }
    &:last-child {
      width: 90px;
    }
  }
}
