// Малые девайсы («ландшафтные телефоны», <= 576px)
@media (max-width: 576px) {
}

// Средние девайсы («таблетки», <= 768px)
@media (max-width: 768px) {
  //!Карточка сотруника
  .employee-main-photo {
    display: none;
  }
  .employee-emergency-main {
    flex: 2 1 100%;
  }
  .employee-emergency-child-inner {
    flex-flow: row wrap;
  }
  //!Прощальная страница (goodbye)
  .goodbye {
    padding: 15% 15px 15px 15px;
    // background-position: 0;
    &-container {
      background-image: url(../img/goodbye-bg.png);
      background-repeat: no-repeat;
      padding: 30px;
      background-position: 100% 0;
    }
    &__img {
      display: none;
    }
    &__txt {
    }
    &-list {
    }
    &-logo {
      margin: 0 0 15px 0;
    }
  }
  //!Страница заглушка (warning)
  .warning {
    // background-position: 0;
    &-container {
      flex-flow: column;
      padding: 15px 30px;
      margin: 0 auto 40% auto;
    }
    &__img {
      & > svg {
        &:last-child {
          display: initial;
          margin: 0 0 20px 0;
        }
        &:first-child {
          display: none;
        }
      }
    }
    &__txt {
      .h1-like {
      }
    }
    &-list {
      & > li {
      }
    }
  }
}

// Большие девайсы (десктопы, <= 992px)
@media (max-width: 992px) {
  .main {
    padding: 10px;
  }
}

// Экстрабольшие девайсы (большие десктопы, <= 1200px)
@media (max-width: 1200px) {
  //!Карточка сотрудника
  .employees-list {
    .table-header-col:nth-child(6) {
      width: 140px;
      span {
        width: 115px;
      }
    }
  }
  .employee-emergency-child {
    flex: 4 1;
  }
  .employee-main-inner:nth-child(1) {
    .field-label {
      width: 125px;
    }
  }
  .employee-passport-fields-inner {
    .field-label {
      &.passport {
        width: 50px;
        margin: 0 10px 0 40px;
      }
    }
  }
  //!Карточка ТС
  .vehicle-documents-list {
    .table-header-col {
      &:nth-child(4) {
        width: 120px;
      }
    }
  }
  //!Партнеры
  .partners {
    &-list {
      .table-header-col {
        //==============Ширина колонок====================
        &:nth-child(2) {
          width: 160px;
        }
        &:nth-child(3) {
          width: 120px;
          & span {
            width: 80px;
          }
        }
      }
    }
  }
  .partner {
    &-list {
      .table-header-col {
        //==============Ширина колонок====================
        &:nth-child(4) {
          width: 130px;
          span {
            width: 80px;
          }
        }
        &:nth-child(5) {
          width: 130px;
        }
      }
    }
  }
}

// Экстрабольшие девайсы (большие десктопы, <= 1600px)
@media (max-width: 1600px) {
  //!Готовые пропуска - Сотрудники
  .passes-list {
    .table-header-col {
      &:nth-child(6) {
        width: 120px;
      }
      &:nth-child(7) {
        width: 130px;
        .table-title {
          width: 110px;
        }
      }
    }
  }
  //!Справочники - Сотрудники
  .employees-list {
    .table-header-col {
      :nth-child(3),
      :nth-child(4) {
        width: 15%;
      }
      &:nth-child(6) {
        width: 110px;
      }
      &:nth-child(7) {
        width: 120px;
      }
    }
  }
  //!Справочники - Транспорт
  .vehicles-list {
    .table-header-col {
      &:nth-child(3),
      &:nth-child(4) {
        width: 18%;
      }
      &:nth-child(6) {
        width: 110px;
      }
      &:nth-child(7) {
        width: 120px;
      }
    }
  }
  //!Партнеры
  .partner {
    &-list {
      .table-header-col {
        //==============Ширина колонок====================
        &:nth-child(4) {
          width: 130px;
          span {
            width: 80px;
          }
        }
        &:nth-child(5) {
          width: 130px;
        }
        &:nth-child(6) {
          width: 130px;
        }
      }
    }
  }
}

// .employee-passport-fields-inner {
//   .field-label {
//     &.passport {
//       width: 30px;
//       margin: 0 10px 0 40px;
//     }
//   }
// }
// .employee-documents-list {
//   .table-header-col {
//     &:first-child {
//       width: 80px;
//     }
//     &:nth-child(2) {
//       min-width: 145px;
//     }
//     &:nth-child(3) {
//       width: 160px;
//     }
//     &:nth-child(4) {
//       width: 100px;
//     }
//     &:nth-child(5) {
//       width: 100px;
//       span {
//         width: 60px;
//       }
//     }
//     &:nth-child(6) {
//       width: 140px;
//       span {
//         width: 82px;
//       }
//     }
//     &:last-child {
//       width: 90px;
//     }
//   }
// }
// .vehicle-documents-list {
//   .table-header-col {
//     &:first-child {
//       width: 80px;
//     }
//     &:nth-child(2) {
//       min-width: 145px;
//     }
//     &:nth-child(3) {
//       width: 100px;
//     }
//     &:nth-child(4) {
//       // width: 100px;
//     }
//     &:nth-child(5) {
//       width: 100px;
//       span {
//         width: 60px;
//       }
//     }
//     &:nth-child(6) {
//       width: 140px;
//       span {
//         width: 82px;
//       }
//     }
//     &:last-child {
//       width: 90px;
//     }
//   }
// }
