// расширения
// %border {
//   border: 1px solid;
//
// }
// @extend %border;

// миксины
// @mixin bordercol($col) {
//   border: 1px solid $col;
//
// }
// @include bordercol(black);

@import "_fonts.scss";

html,
:root {
  box-sizing: border-box;
  font-size: 14px;
  //! тут вставить цвета
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  // line-height: 22px;
  // color: #4f4f4f;
  background-color: #f6f9fd;
}

//!Общие элементы

//*===============Цвета====================
$active-color: #07a6d7;
$font-title-color: #333333;
$font-content-color: #4f4f4f;
$font-disable-color: #bdbdbd;
$svg-content-color: #666666;
$svg-disable-color: #c4c4c4;
$input-color: #cccccc;

//*================Текст==================
//Заголовки
.h1-like {
  display: block;
  font-size: 18px;
  // font-size: 1.28rem;
  font-weight: 600;
  line-height: 1.4;
  // line-height: 25px;
  color: #333333;
  margin: 0 10px 0 0;
}
.h2-like {
  display: block;
  font-weight: bold;
  font-size: 16px;
  // font-size: 1.14rem;
  color: #4f4f4f;
  margin: 0 10px 0 0;
}
//Ссылки

//*===============Поля форм==================
.field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 15px 0;
  //Наименование
  &-label {
    flex: 0 0 auto;
    // white-space: nowrap;
    font-weight: 600;
    margin: 0 10px 0 0;
  }
  //Текст
  &-text {
    outline: none;
    width: 100%;
    min-width: 160px;
    height: 40px;
    // padding: 12px 10px 12px 18px;
    padding: 0 10px 0 18px;
    background: #f2f2f2;
    color: #4f4f4f;
    border: none;

    border-radius: 20px;
    cursor: default;
    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
    }
    &.is-edit {
      height: 36px;
      // padding: 8px 10px 8px 18px;
      border: 1px solid #cccccc;
      background: #ffffff;
      cursor: initial;
    }
  }
  //Текс-ареа
  &-textarea {
    outline: none;
    width: 100%;
    height: 62px;
    line-height: 20px;
    padding: 8px 10px 8px 18px;
    background: #f2f2f2;
    color: #4f4f4f;
    border: none;

    border-radius: 20px;
    overflow: hidden;
    resize: none;
    cursor: default;
    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
    }
    &.is-edit {
      border: 1px solid #cccccc;
      background: #ffffff;
      cursor: initial;
    }
  }
  //Дата
  &-date {
    outline: none;
    width: 160px;
    height: 40px;
    padding: 0 10px 0 18px;
    // padding: 12px 10px 12px 18px;
    background: #f2f2f2;
    color: #4f4f4f;
    border: none;

    border-radius: 20px;
    cursor: default;
    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
    }
    &.is-edit {
      height: 36px;
      // padding: 8px 10px 8px 18px;
      border: 1px solid #cccccc;
      background: #ffffff;
      cursor: initial;
    }
  }
  //Радио-кнопки
  &-radio {
    height: 18px;
    width: 18px;
    border: #bdbdbd;
    display: none;
    &.is-edit {
      & + .field-radio-style-wrp {
        .field-radio-style {
          border-color: #bdbdbd;
        }
        & + .field-radio-label {
          color: #4f4f4f;
        }
      }
    }
    &:checked {
      & + .field-radio-style-wrp .field-radio-style {
        border-color: #009bcd;
        &::before {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          width: 10px;
          height: 10px;
          background: #009bcd;
          border-radius: 20px;
        }
      }
    }
    &-style-wrp {
      display: flex;
      align-items: center;
      height: 40px;
    }
    &-style {
      position: relative;
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #e0e0e0;
      border-radius: 20px;
      margin: 0 15px 0 0;
    }
    &-label {
      margin: 0 27px 0 0;
      color: inherit;
    }
  }
  //Выпадающий список
  &-dropdown {
  }
}

//*===============Кнопки=====================
.btn {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  // font-size: 12px;
  font-size: 0.85rem;
  color: #ffffff;
  height: 32px;
  padding: 6px 18px 6px 18px;
  // padding: 0 18px 0 18px;
  margin: 0 0 0 10px;
  &.btn--add,
  &.btn--edit,
  &.btn--submit {
    background: #07a6d7;
    border: 1px solid #07a6d7;
    &:hover {
      background: #0685ac;
      border-color: #0685ac;
    }
  }
  &.btn--save {
    background: #78c941;
    border: 1px solid #78c941;
    &:hover {
      background: #60a134;
      border-color: #60a134;
    }
  }
  &.btn--delete {
    background: #eb5554;
    border: 1px solid #eb5554;
    &:hover {
      background: #d34c4c;
      border-color: #d34c4c;
    }
  }
  &.btn--reset {
    background: #f5f5f5;
    border: 1px solid #cccccc;
    color: #4f4f4f;
    &:hover {
      background: #dddddd;
      border-color: #b8b8b8;
    }
  }
}

//*===============Шапка страницы===============
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 20px;
  margin: 0 0 0 225px;

  &-title {
    line-height: 19px;
    &-child {
      color: #c4c4c4;
    }
  }

  &-controls {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  &-search {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 39px 0 0;
    &-inp {
      position: absolute;
      right: -5000px;
      width: 0px;
      border: 1px solid #ccc;
      border-radius: 25px;
      outline: none;
      padding: 8px 10px 8px 10px;
      background-color: transparent;
      &:focus {
        right: -10px;
        width: 315px;
        transition: width 1s ease;
      }
    }
    &-label {
      display: flex;
      fill: #666666;
      cursor: pointer;
    }
  }
  &-photo {
    display: block;
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &-btn {
    display: flex;
    align-items: center;
    fill: #666666;
    &:focus {
      & ~ .header-menu {
        display: block;
      }
    }
  }
  &-menu {
    display: none;
    position: absolute;
    right: -13px;
    top: 45px;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 145px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ebe9e9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    &::before {
      position: absolute;
      right: 10px;
      top: -9px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 9px solid #ebe9e9;
    }
    &::after {
      position: absolute;
      right: 11px;
      top: -8px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid #ffffff;
    }
    &-item {
      border-bottom: 1px solid #ebe9e9;
      &:hover {
        background-color: #009bcd;
        .header-menu-link {
          color: #ffffff;
        }
      }
      &:last-child {
        border: none;
      }
    }
    &-link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 45px;
      padding: 0 0 0 35px;
      text-decoration: none;
      color: #333333;
    }
  }
}

//*==============Панель навигации===============
.navbar {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 225px;
  background-image: url(../img/backgrnnavbar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d0d1d7;
  // Шапка левой панели навигации
  &-head {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 0 16px 0 20px;

    &-logo {
      // height: 53px;
    }
    &-btn {
      display: flex;
      fill: #005574;
      cursor: pointer;
    }
  }
  // Список  левой панели навигации
  &-menu {
    flex: 1 0 0%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: #d0d1d7;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    //первый уровень вложенности
    &-item {
    }
    &-link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      color: #d0d1d7;
      text-decoration: none;
      min-height: 60px;
      padding: 10px 18px 10px 20px;

      outline: none;
      &:hover {
        background: rgba(196, 196, 196, 0.2);
        .navbar-list-icon {
          fill: #ffffff;
        }
      }
      // &:focus {
      //   background: rgba(196, 196, 196, 0.2);
      //   // .navbar-list-icon {
      //   //   fill: #ffffff;
      //   // }
      // }
      &.navbar-list--open {
        .navbar-list-arrow {
          transform: rotate(90deg);
        }
        + .child {
          display: block;
        }
      }
    }
    &-icon {
      display: flex;
      justify-content: center;
      flex: 0 0 auto;
      width: 25px;
      &-svg {
        fill: #d0d1d7;
      }
    }
    &-title {
      // flex: 1 0;
      display: block;
      margin: 0 auto 0 10px;
      line-height: 19px;
    }
    &-amount {
      flex: 0 0 auto;
      display: block;
      margin: 0 0 0 10px;
      padding: 1px 2px;
      border-radius: 2px;
      font-size: 12px;
      font-size: 0.85rem;
      line-height: initial;
      text-align: center;
      background-color: #eb6437;
    }
    &-arrow {
      flex: 0 0 auto;
      margin: 0 0 0 10px;
      fill: #d0d1d7;
      transition: transform 0.5s ease;
    }
    //второй уровень вложенности
    &.child {
      display: none;
      .navbar-list-link {
        min-height: 50px;
        padding: 10px 18px 10px 30px;
      }
      .navbar-list-icon {
        width: 23px;
      }
      .navbar-list-title {
        font-size: 12px;
        font-size: 0.85rem;
        line-height: 16px;
      }
      .navbar-list--open {
        background: rgba(196, 196, 196, 0.2);
        .navbar-list-icon-svg {
          fill: #ffffff;
        }
      }
    }
  }
  // Подвал  левой панели навигации
  &-footer {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    align-items: center;
    padding: 10px 0 15px 0;
    font-size: 12px;
    font-size: 0.85rem;
    &::after {
      position: absolute;
      top: 0;
      content: "";
      width: 50px;
      height: 1px;
      background-color: #d0d1d7;
      opacity: 0.5;
    }
    &-policy {
      color: #d0d1d7;
      margin: 0 0 15px 0;
    }
    &-company {
      text-transform: uppercase;
    }
    &-copy {
    }
  }
}

//*===============Основной контекнт===============
.main {
  margin: 60px 0 0 225px;
  padding: 15px;
}
.content {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  //?Заголовок страниц
  &-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 50px;
    padding: 0 18px 0 18px;
    border-bottom: 1px solid #cccccc;
    &.content-header--noborder {
      border: initial;
    }
    //Стрелка назад
    &-arrow {
      display: flex;
      margin: 0 20px 0 0;
      &-svg {
        fill: #666666;
      }
    }
    //Заголовок страницы
    .h1-like {
      margin: 0 auto 0 0;
    }
    //Табы в фильтре
    .tabs {
      margin: 0 auto 0 -18px;
    }
  }
  //?Кнопки фильтра и выгрузки данных
  &-actions {
    display: flex;
    flex-flow: row wrap;
    // justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 20px;
    &-file,
    &-print,
    &-filter {
      display: flex;
      margin: 5px 10px 5px 10px;
      &-svg {
        fill: #666666;
      }

      &:hover {
        .content-actions-file-svg,
        .content-actions-print-svg,
        .content-actions-filter-svg {
          fill: #07a6d7;
        }
      }
    }
    &-filter {
      cursor: pointer;
    }
  }
  //?Кнопки "сохранить" и "отмена"
  &-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    margin: 0 20px;
    border-top: 1px solid #cccccc;
  }
}
//?Табы
.tabs {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  min-height: 49px;
  &-tab {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px 21px 10px 21px;
    // font-size: 16px;
    font-size: 1.14rem;
    font-weight: bold;
    color: #4f4f4f;

    &.active {
      color: #07a6d7;
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #07a6d7;
      }
    }
  }
}
//?Фильтр
.filter-open {
  display: none;
  &:checked {
    & + .filter {
      display: block;
    }
  }
}
.filter {
  display: none;
  border-bottom: 1px solid #cccccc;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 0 21px;
    height: 50px;
    margin: 0 0 15px 0;
  }
  &-close {
    cursor: pointer;
    &-svg {
      fill: #666666;
    }
  }
  &-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &-inner {
      padding: 0 21px 0 21px;
      flex: 1 1 50%;
    }
  }
  .field > .field-label {
    width: 125px;
  }
  &-date-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    .field-label:nth-of-type(2) {
      margin: 0px 10px 0 10px;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 18px 0 21px;
    margin: 5px 0 20px 0;
  }
}
//?Таблица со списком
.table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 15px 0 15px;
  color: #4f4f4f;
  // Заголовок таблицы
  &-header {
    &-line {
      height: 70px;
    }
    &-col {
      padding: 15px 5px 15px 5px;
      text-align: left;
      &:first-child {
        width: 80px;
        padding: 15px 5px 15px 18px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
      }
    }
  }
  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-sort {
    flex: 0 0 auto;
    display: flex;
    margin: 0 0 0 3px;
    fill: #c4c4c4;
    &:hover {
      fill: #07a6d7;
    }
  }
  // Контент таблицы
  &-body {
    &-line {
      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
      &.alert {
        background-color: #ffeaeb;
      }
    }
    &-col {
      height: 100%;
      padding: 15px 5px 15px 5px;

      vertical-align: top;
      &:first-child {
        padding: 15px 5px 15px 18px;
      }
      &:last-child {
        padding: 15px 18px 15px 5px;
      }
    }
  }
  &-person {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-photo {
    display: block;
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &-name {
    display: block;
    font-weight: bold;
    color: #4f4f4f;
  }
  &-url {
    display: block;
    // font-weight: bold;
    color: #07a6d7;
  }
  &-date,
  &-position,
  &-txt {
    display: block;
  }
  &-amount {
    &-red,
    &-orange,
    &-grey,
    &-blue {
      // display: inline-flex;
      padding: 1px 4px;
      border-radius: 2px;
      color: white;
      // font-size: 12px;
      font-size: 0.85rem;
      line-height: initial;
      // text-align: center;
    }
    &-red {
      background-color: #eb6437;
    }
    &-orange {
      background-color: #f9b537;
    }
    &-grey {
      background-color: #cccccc;
    }
    &-blue {
      background-color: #009bcd;
    }
  }
  &-file,
  &-link {
    display: block;
    color: #26b1dc;
  }
  &-temp {
    display: block;
    color: #999999;
  }
  &-good {
    display: flex;
    align-items: center;
    fill: #78c941;
    // font-size: 12px;
    font-size: 0.85rem;
    color: #78c941;
    white-space: nowrap;
  }
  &-negative {
    display: flex;
    align-items: center;
    fill: #eb5554;
    // font-size: 12px;
    font-size: 0.85rem;
    color: #eb5554;
    white-space: nowrap;
  }
  &-status {
    margin: 0 0 0 3px;
  }
  &-action {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
  }
  &-lock {
    display: flex;
    align-items: center;
    fill: #666666;
    margin: 0 24px 0 0;
  }
  &-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 5px;
    fill: #666666;
    &.table-menu--open {
      & + .table-menu {
        display: block;
      }
    }
  }
  //Менюшка
  &-menu {
    display: none;
    position: absolute;
    right: 16px;
    z-index: 100;
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    min-width: 150px;
    background-color: #ffffff;
    border: 1px solid #ebe9e9;
    white-space: nowrap;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    &::before {
      position: absolute;
      right: 10px;
      top: -9px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 9px solid #ebe9e9;
    }
    &::after {
      position: absolute;
      right: 11px;
      top: -8px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid #ffffff;
    }
    &-item {
      border-bottom: 1px solid #ebe9e9;
      &:hover {
        background-color: #009bcd;
        .table-menu-link {
          color: #ffffff;
        }
      }
      &:last-child {
        border: none;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 45px;
      text-decoration: none;
      color: #333333;
    }
  }
}
//?Постраничная навигация (пагинация)
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  // min-height: 59px;
  padding: 10px 22px 10px 18px;
  margin: 5px 0 0 0;

  border-top: 1px solid #cccccc;
  &-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &-title {
      flex: 0 0 auto;
      margin: 5px 60px 5px 0;
    }
    &-value {
      flex: 0 0 auto;
      margin: 5px 60px 5px 0;
      &-label {
        margin: 0px 19px 0px 0;
      }
      &-list {
        width: 61px;
        height: 28px;
        padding: 0 0 0 13px;
        border: 1px solid #cccccc;

        border-radius: 5px;
        outline: none;
        color: #4f4f4f;
      }
    }
  }
  &-pagination {
    margin: 5px 0 5px 0;
    &-list {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      padding: 0;
      margin: 0;
      &-item {
        margin: 0px 20px 0px 0;
        &:last-child {
          margin: 0;
        }
        &.active .navigation-pagination-list-item-url {
          color: #ffffff;
          background: #009bcd;
        }
        &-url {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          border-radius: 5px;

          text-decoration: none;
          color: #4f4f4f;
          &:hover {
            background: #f2f2f2;
          }
          &-svg {
            fill: #666666;
          }
        }
      }
    }
  }
}
//?Модальное окно
.modal {
  padding: 30px 30px 30px 30px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 20px rgba(0, 85, 116, 0.1);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 102;
    // display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15% 10px 10px 10px;
    &:target {
      display: flex;
    }
    .h1-like {
      text-align: center;
    }
    .btn {
      min-width: 67px;
      &--delete {
        margin: 0 0 0 20px;
      }
    }
  }
  &-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 25px 0;
    display: block;
    text-align: center;
  }
  &-content {
    // display: flex;
    // flex-flow: column nowrap;
    // align-items: center;
    margin: 0 0 25px 0;
  }
  &-photo {
    display: block;
    margin: 0 auto 15px auto;
  }
  &-txt {
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-align: center;
    margin: 5px 0 0 0;
  }
  &-buttons {
    display: flex;
    flex-flow: row nowrap;
  }
  .h1-like {
    margin: 0;
  }
  .field {
    &:last-child {
      margin: 0;
    }
    &-textarea {
      border-radius: 4px;
      width: 365px;
      height: 80px;
    }
    &-label {
      width: 30px;
      margin: 0 70px 0 0;
    }
  }
}

//!Страницы сайта

//*===============Список пропусков===============
.passes {
  // Список
  &-list {
    overflow: auto;
    .table-header-col {
      //==============Ширина колонок====================
      &:first-child {
        width: 80px;
        padding: 15px 5px 15px 18px;
      }
      &:nth-child(6) {
        width: 130px;
      }
      &:nth-child(7) {
        width: 180px;
      }
      &:nth-child(8) {
        width: 80px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
        // width: 38px;
      }
      //==================================
      &:nth-child(2) .table-sort {
        fill: #07a6d7;
      }
    }
    .table-body-line {
      &:nth-child(2n + 1) {
        // background-color: revert;
        background-color: initial;
      }
      &:nth-child(4n + 2),
      &:nth-child(4n + 1) {
        background-color: #f5f5f5;
      }
      &.alert {
        background-color: #ffeaeb;
        & + .table-body-line > .table-body-col {
          background-color: #ffeaeb;
          color: #ff0000;
          padding: 0 18px 10px 10px;
          text-align: right;
        }
      }
    }
  }
}

//*===============Список сотрудников===============
.employees {
  // Список
  &-list {
    overflow: auto;
    .table-header-col {
      //==============Ширина колонок====================
      &:first-child {
        // width: 80px;
        // padding: 15px 5px 15px 18px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 18%;
      }
      &:nth-child(5) {
        width: 70px;
        // span {
        //   width: 92px;
        // }
      }
      &:nth-child(6) {
        width: 145px;
      }
      &:nth-child(7) {
        width: 160px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
      }
      //==================================
      &:nth-child(2) .table-sort {
        fill: #07a6d7;
      }
    }
    .table-body-line {
      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
    }
  }
}

//*===============Список транспортынх средств===============
.vehicles {
  // Список
  &-list {
    overflow: auto;
    .table-header-col {
      //==============Ширина колонок====================
      &:first-child {
        // width: 80px;
        // padding: 15px 5px 15px 18px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 22%;
      }
      &:nth-child(5) {
        width: 70px;
        // span {
        //   width: 92px;
        // }
      }
      &:nth-child(6) {
        width: 145px;
      }
      &:nth-child(7) {
        width: 160px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
      }
      //==================================
      &:nth-child(2) .table-sort {
        fill: #07a6d7;
      }
    }
    .table-body-line {
      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
    }
    .table-url {
      display: initial;
      margin: 0 5px 0 0;
    }
  }
}

//*===============Карточка сотруника===============
.employee {
  //Требования ЧС
  &-emergency {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 20px 20px 0 20px;
    background-color: #fdeeee;
    border-radius: 10px;
    padding: 24px 20px;
    &-svg {
      flex: 0 0 auto;
      fill: #fe4513;
      width: 50px;
      height: 37px;
      margin: 0 20px 0 0;
    }
    &-content {
      flex: 1 1;
      display: flex;
      flex-flow: row wrap;
    }
    &-main {
      flex: 2 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
    &-child {
      flex: 3 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      &-inner {
        display: flex;
      }
    }
    &-title {
      font-weight: bold;
      color: #333333;
      margin: 0 25px 0 0;
      padding: 2px 0;
      min-width: 120px;
    }
    &-date {
      display: flex;
      align-items: center;
      padding: 2px 0;
      &-svg {
        margin: 0 7px 0 0;
        flex: 0 0 auto;
      }
      &-txt {
        white-space: nowrap;
      }
    }
  }
  // Основной контент сотрудника
  &-main {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 0 20px;
    margin: 20px 0 25px 0;
    &-photo {
      position: relative;
      flex: 0 0;
      margin: 0 68px 0 0;
      &-img {
        width: 155px;
        height: 155px;
        border-radius: 50%;
        margin: 0 0 9px 0;
        object-fit: cover;
      }
      &-edit {
        position: absolute;
        content: "";
        display: block;
        width: 127px;
        height: 33px;
        top: 122px;
        left: 13px;
        background-image: url(/img/user_icon_edit.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        cursor: pointer;
      }
      &-title {
        display: block;
        width: 155px;
        text-align: center;
        color: #828282;
      }
    }
    &-fields {
      flex: 1 1;
      display: flex;
      flex-flow: row wrap;
    }
    &-inner {
      margin: 0 20px 0 20px;
      &:nth-child(1) {
        flex: 1 1;
        .field-label {
          width: 80px;
        }
      }
      &:nth-child(2) {
        flex: 2 1;
        .field-label {
          width: 125px;
        }
      }
    }
    &-position {
      padding: 10px 15px 10px 15px;
      border-radius: 10px;
      background: #f5f5f5;
      &-link {
        color: #07a6d7;
      }
    }
  }
  // Паспортные данные
  &-passport {
    margin: 0 20px 25px 20px;
    padding: 20px 0 20px 0;
    background: #f5f5f5;
    border-radius: 10px;
    &-title {
      display: block;
      // font-size: 16px;
      font-size: 1.14rem;
      padding: 0 20px 0 20px;
      margin: 0 0 25px 0;
    }
    &-fields {
      display: flex;
      flex-flow: row wrap;
    }
    &-inner {
      flex: 1 1;
      margin: 0 20px 0 20px;
      &:nth-child(2) {
        .field:nth-child(2) {
          align-items: baseline;
        }
      }
      &:nth-child(3) {
        flex: 1 1 100%;
      }
    }
    .field-label {
      width: 100px;
      &.passport {
        width: 30px;
        margin: 0 10px 0 100px;
      }
    }
    .field-text.passport {
      max-width: 160px;
      min-width: 80px;
      width: 100%;
    }
    .field-text,
    .field-date,
    .field-textarea {
      background: #ebebeb;
      &.is-edit {
        background: #ffffff;
      }
    }
  }
  // Системная информация
  &-system {
    margin: 0 20px 25px 20px;
    padding: 20px 0 20px 0;
    background: #f5f5f5;
    border-radius: 10px;
    &-title {
      display: block;
      font-size: 16px;
      // font-size: 1.14rem;
      padding: 0 20px 0 20px;
      margin: 0 0 25px 0;
    }
    &-fields {
      display: flex;
      flex-flow: row wrap;
    }
    &-inner {
      flex: 1 1;
      margin: 0 20px 0 20px;
      .field:nth-child(2) {
        align-items: baseline;
      }
    }
    .field-label {
      width: 135px;
    }
    .field-text,
    .field-date,
    .field-textarea {
      background: #ebebeb;
      &.is-edit {
        background: #ffffff;
      }
    }
    &.employee-system--no-partner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 0;
      .employee-system-title {
        flex: 1 1;
        margin: 10px 0 10px 0;
        white-space: nowrap;
      }
      .field {
        margin: 10px 0 10px 0;
      }
    }
  }
  // Блок с документами
  &-documents {
    padding: 0 20px 0 20px;
    width: 100%;
    border-bottom: 1px solid transparent;
    // Заголоок списка
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 61px;
      border-top: 1px solid #cccccc;
    }
    &-title {
    }
    &-action {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #bdbdbd;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "-";
        color: #ffffff;
        font-size: 32px;
        line-height: 16px;
        top: -1px;
        left: 5px;
      }
    }
    &-check {
      display: none;
      &:checked + .employee-documents-header {
        .employee-documents-action {
          &::before {
            content: "+";
            font-size: 21px;
            top: 1px;
            left: 4px;
          }
        }
        & + .employee-documents-list {
          display: none;
        }
      }
    }
    //Список
    &-list {
      overflow: auto;
      margin: 0 0 20px 0;
      .table-header-col {
        //==============Ширина колонок====================
        &:first-child {
          padding: 15px 5px 15px 15px;
          width: 80px;
          .table-sort {
            fill: #07a6d7;
          }
        }
        &:nth-child(2) {
          // width: 35%;
        }
        &:nth-child(3) {
          width: 320px;
        }
        &:nth-child(4) {
          width: 120px;
        }
        &:nth-child(5) {
          width: 160px;
        }
        &:nth-child(6) {
          width: 180px;
        }
        &:last-child {
          padding: 15px 15px 15px 5px;
          width: 90px;
        }
      }
      .table-body {
        // &-line {
        //   &:nth-child(2n + 1) {
        //     background-color: #f5f5f5;
        //   }
        //   &.alert {
        //     background-color: #ffeaeb;
        //   }
        // }
        &-col {
          &:first-child {
            padding: 15px 5px 15px 15px;
            border-radius: 10px 0px 0px 10px;
          }
          &:last-child {
            padding: 15px 15px 15px 5px;
            border-radius: 0px 10px 10px 0px;
          }
        }
      }
      //сдвиг выпадайки под текущий контент
      .table-menu {
        right: 34px;
        margin: 30px 0 0 0;
      }
    }
  }

  // Модальное окно
  // &.modal-background {
  //   &:target {
  //     display: flex;
  //   }
  //   display: none;
  //   .h1-like {
  //     text-align: center;
  //   }
  //   .btn {
  //     min-width: 67px;
  //     &--delete {
  //       margin: 0 0 0 20px;
  //     }
  //   }
  // }
}

//*==========Карточка транспортного средства===========
.vehicle {
  //Основной контент ТС
  &-main {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 0 0;
    &-inner {
      flex: 1 1;
      margin: 0 20px 0 20px;
      .field:nth-child(1) {
        align-items: baseline;
      }
      .field-label {
        width: 150px;
      }
    }
    :nth-child(1) {
      .field:nth-child(3) .field-text {
        width: 160px;
      }
    }
  }
  // Системная информация
  &-system {
    margin: 0 20px 25px 20px;
    padding: 20px 0 20px 0;
    background: #f5f5f5;
    border-radius: 10px;
    &-title {
      display: block;
      font-size: 16px;
      // font-size: 1.14rem;
      padding: 0 20px 0 20px;
      margin: 0 0 25px 0;
    }
    &-fields {
      display: flex;
      flex-flow: row wrap;
    }
    &-inner {
      flex: 1 1;
      margin: 0 20px 0 20px;
      .field:nth-child(2) {
        align-items: baseline;
      }
    }
    .field-label {
      width: 135px;
    }
    .field-text,
    .field-date,
    .field-textarea {
      background: #ebebeb;
      &.is-edit {
        background: #ffffff;
      }
    }
    &.vehicle-system--no-partner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 0;
      .vehicle-system-title {
        flex: 1 1;
        white-space: nowrap;
        margin: 10px 0 10px 0;
      }
      .field {
        margin: 10px 0 10px 0;
      }
    }
  }
  &-documents {
    padding: 0 20px 0 20px;
    width: 100%;

    border-bottom: 1px solid transparent;
    // Заголоок списка
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 61px;
      border-top: 1px solid #cccccc;
    }
    &-title {
    }
    &-action {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #bdbdbd;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "-";
        color: #ffffff;
        font-size: 32px;
        line-height: 16px;
        top: -1px;
        left: 5px;
      }
    }
    &-check {
      display: none;
      &:checked + .vehicle-documents-header {
        .vehicle-documents-action {
          &::before {
            content: "+";
            font-size: 21px;
            top: 1px;
            left: 4px;
          }
        }
        & + .vehicle-documents-list {
          display: none;
        }
      }
    }
    //Список
    &-list {
      overflow: auto;
      margin: 0 0 20px 0;
      .table-header-col {
        //==============Ширина колонок====================
        &:first-child {
          padding: 15px 5px 15px 15px;
          width: 80px;
          .vehicle-table-sort {
            fill: #07a6d7;
          }
        }
        &:nth-child(2) {
          // width: 35%;
        }
        &:nth-child(3) {
          width: 120px;
        }
        &:nth-child(4) {
          width: 160px;
        }
        &:nth-child(5) {
          width: 160px;
        }
        &:nth-child(6) {
          width: 180px;
        }
        &:last-child {
          padding: 15px 15px 15px 5px;
          width: 90px;
        }
      }
      .table-body {
        // &-line {
        //   &:nth-child(2n + 1) {
        //     background-color: #f5f5f5;
        //   }
        //   &.alert {
        //     background-color: #ffeaeb;
        //   }
        // }
        &-col {
          &:first-child {
            padding: 15px 5px 15px 15px;
            border-radius: 10px 0px 0px 10px;
          }
          &:last-child {
            padding: 15px 15px 15px 5px;
            border-radius: 0px 10px 10px 0px;
          }
        }
      }
      //сдвиг выпадайки под текущий контент
      .table-menu {
        right: 34px;
        margin: 30px 0 0 0;
      }
    }
  }
  //Список
  &-table {
    border-collapse: collapse;
    width: 100%;
    color: #4f4f4f;
    // Заголовок таблицы
    &-header {
      &-line {
        height: 70px;
      }
      &-col {
        padding: 15px 5px 15px 5px;

        text-align: left;
        //==============Ширина колонок====================
        &:first-child {
          padding: 15px 5px 15px 15px;
          width: 80px;
          .vehicle-table-sort {
            fill: #07a6d7;
          }
        }
        &:nth-child(2) {
          // width: 35%;
        }
        &:nth-child(3) {
          width: 120px;
        }
        &:nth-child(4) {
          width: 160px;
        }
        &:nth-child(5) {
          width: 160px;
        }
        &:nth-child(6) {
          width: 180px;
        }
        &:last-child {
          padding: 15px 15px 15px 5px;
          width: 90px;
        }
      }
    }
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-sort {
      flex: 0 0 auto;
      display: flex;
      margin: 0 0 0 3px;
      fill: #c4c4c4;
      &:hover {
        fill: #07a6d7;
      }
    }
    // Контент таблицы
    &-body {
      &-line {
        &:nth-child(2n + 1) {
          background-color: #f5f5f5;
        }
        &.alert {
          background-color: #ffeaeb;
        }
      }
      &-col {
        padding: 15px 5px 15px 5px;

        vertical-align: top;
        &:first-child {
          padding: 15px 5px 15px 15px;
          border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
          padding: 15px 15px 15px 5px;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    &-inner {
      display: flex;
      flex-flow: column nowrap;
    }
    &-txt {
    }
    &-file,
    &-link {
      color: #26b1dc;
    }
    &-temp {
      color: #999999;
    }
    &-link {
      color: #07a6d7;
    }
    &-good {
      display: flex;
      align-items: center;
      fill: #78c941;
      // font-size: 12px;
      font-size: 0.85rem;
      color: #78c941;
      white-space: nowrap;
    }
    &-negative {
      display: flex;
      align-items: center;
      fill: #eb5554;
      // font-size: 12px;
      font-size: 0.85rem;
      color: #eb5554;
      white-space: nowrap;
    }
    &-status {
      margin: 0 0 0 3px;
    }
    &-action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-lock {
      display: flex;
      fill: #666666;
    }
    &-menu {
      width: 3px;
      height: 17px;
      margin: 0 0 0 24px;
      fill: #666666;
    }
  }
}

//*==================ГД-Надым======================
.partners {
  // Список
  &-list {
    overflow: auto;
    .table-header-col {
      //==============Ширина колонок====================
      &:first-child {
        width: initial;
      }
      &:nth-child(2) {
        width: 240px;
      }
      &:nth-child(3) {
        width: 220px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
      }
      //==================================
      &:nth-child(1) .table-sort {
        fill: #07a6d7;
      }
    }
    .table-body-line {
      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
    }
  }
}
.partner {
  // Список
  &-list {
    overflow: auto;
    .table-header-col {
      //==============Ширина колонок====================
      &:first-child {
      }
      &:nth-child(2),
      &:nth-child(3) {
        // width: 500px;
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 170px;
      }
      &:last-child {
        width: 35px;
        padding: 15px 18px 15px 5px;
      }
      //==================================
      &:nth-child(2) .table-sort {
        fill: #07a6d7;
      }
    }
    .table-body-line {
      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
    }
    .partner--alert {
      font-weight: 600;
      color: #eb5554;
    }
  }
  &-date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &-label {
      font-weight: 600;
      margin: 0 20px 0 0;
    }
    // &-btn {
    //   display: flex;
    //   & > svg {
    //     fill: #6a6a69;
    //   }
    //   &:hover {
    //     & > svg {
    //       fill: #009bcd;
    //     }
    //   }
    // }
  }
}

//*============Прощальная страница (goodbye)============
.goodbye {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 100vh;
  background-image: url(../img/goodbye.png);
  background-size: cover;
  background-position: 0 top;
  padding: 10% 15px 15px 15px;
  &-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 850px;
    width: 100%;
    min-height: 250px;
    margin: 0 auto 5% auto;
    padding: 30px 30px 50px 0;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  &__img {
    fill: #009bcd;
    margin: 0 75px 0 0;
    flex: 0 0 auto;
  }
  &__txt {
    flex: 1 1 auto;
    .h1-like {
      margin: 0 0 25px 0;
    }
    .sign {
      text-align: right;
    }
  }
  &-list {
    padding: 0 0 0 15px;
    margin: 0;
    margin: 20px 0 0 0;
    & > li {
      padding: 0 0 10px 10px;
    }
  }
  &-logo {
    margin: 0 0 30px 0;
  }
}

//*============Страница заглушка (warning)============
.warning {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 100vh;
  background-image: url(../img/warning.png);
  background-size: cover;
  background-position: center;
  padding: 15% 15px 15px 15px;
  &-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 700px;
    min-height: 250px;
    margin: 0 auto 5% auto;
  }
  &__img {
    fill: #d1dae5;
    margin: 0 75px 0 0;
    & > svg {
      &:last-child {
        display: none;
      }
    }
  }
  &__txt {
    color: white;
    .h1-like {
      color: inherit;
      margin: 0 0 25px 0;
    }
  }
  &-list {
    padding: 0 0 0 15px;
    margin: 0;
    margin: 20px 0 0 0;
    & > li {
      padding: 0 0 10px 10px;
    }
  }
}

//!Сворачивание левой меню навигации
.navbar--close {
  .header {
    margin: 0 0 0 60px;
  }
  .navbar {
    width: 60px;
    &-head {
      justify-content: center;
      padding: 0;
      box-sizing: content-box;
      background-color: transparent;
      border-bottom: 1px solid;
      border-color: #1c4252;
      &-btn {
        fill: #ffffff;
      }
    }
    .navbar-list--open,
    .navbar-list--open ~ .child {
      background: rgba(196, 196, 196, 0.2);
    }
    .child .navbar-list--open {
      background: rgba(0, 0, 0, 0.2);
    }

    .navbar-list-link {
      justify-content: center;
      padding: 0;
    }

    .child {
      .navbar-list-item {
        display: flex;
        justify-content: center;
        padding: 0px 0 3px 0;
        .navbar-list-link {
          border-radius: 10px;
          width: 48px;
          height: 48px;
          &:hover,
          &:focus {
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .navbar-head-logo,
    .navbar-list-title,
    .navbar-list-amount,
    .navbar-list-arrow,
    .navbar-footer {
      display: none;
    }
  }
  .main {
    margin: 60px 0 0 60px;
  }
}

//Подключение медиа запросов
@import "_media.scss";
