@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("../fonts/OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("../fonts/OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("../fonts/OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("../fonts/OpenSans-Italic"), url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("../fonts/OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("../fonts/OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("../fonts/OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("../fonts/OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("../fonts/OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("../fonts/OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

html,
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.h1-like {
  display: block;
  font-size: 60px;
  line-height: 72px;
}

.h2-like {
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}

.page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.input-txt {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 63px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 0 20px 0 20px;
}

.input-number {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 63px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 0 20px 0 20px;
}

.textarea {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 113px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding: 10px 20px 10px 20px;
}

.input-radio {
  display: none;
}

.input-radio:checked + .radio-style::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #f5c108;
}

.radio-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-style {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.input-check {
  display: none;
}

.input-check:checked + .check-style::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  display: block;
  width: 36px;
  height: 18px;
  border-left: 4px solid #f5c108;
  border-bottom: 4px solid #f5c108;
  -webkit-transform: rotate(-47deg);
          transform: rotate(-47deg);
}

.check-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-style {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  margin: 0 20px 0 0;
}

.input-sub {
  position: relative;
  height: 63px;
  width: 236px;
  border: 3px solid transparent;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.input-sub:hover {
  border: 3px solid #ffffff;
}

.input-sub::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  display: block;
  height: 63px;
  width: 165px;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
}

.input-sub::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  display: block;
  height: 63px;
  width: 165px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.header {
  height: 100vh;
}

.header-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 16px;
  height: 48px;
  background: #303030;
}

.header-mobile-chk {
  display: none;
}

.header-mobile-chk:checked ~ .header-mobile .header-mobile-label > div:first-child {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-mobile-chk:checked ~ .header-mobile .header-mobile-label > div:last-child {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-mobile-label {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-mobile-label div {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
}

.header-mobile-label div:first-child {
  top: 11px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-mobile-label div:last-child {
  bottom: 11px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-mobile-logo {
  position: absolute;
  left: 50%;
  right: 50%;
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding: 0 30px 0 30px;
  color: #ffffff;
  fill: #ffffff;
  z-index: 10;
}

.header-nav.header-nav--top {
  height: 120px;
  background-color: #002844;
  -webkit-box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
          box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
}

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15% 0 15%;
}

.header-scroll {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.header-scroll-ico {
  position: relative;
  width: 28px;
  height: 41px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.5px;
  margin: 0 0 13px 0;
}

.header-scroll-ico::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 9px;
  width: 6px;
  height: 10px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-animation: wheel 1.2s linear infinite;
          animation: wheel 1.2s linear infinite;
}

.banner-title {
  position: relative;
  padding: 35px 50px 35px 50px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 550px;
}

.banner-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 90px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.banner-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-pagination > li + li {
  margin: 35px 0 0 0;
}

.banner-pagination > li > a {
  display: block;
  width: 9px;
  height: 9px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.banner-pagination > li > a:hover {
  background: #f5c108;
  opacity: initial;
}

.banner-pagination > li:nth-of-type(2) a {
  background: #f5c108;
  opacity: initial;
}

.logo {
  fill: inherit;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.navbar-list > li + li {
  margin: 0 0 0 55px;
}

.navbar-list > li > a {
  text-decoration: none;
  color: inherit;
  padding: 3px 0;
  -webkit-transition: border-bottom 0.1s linear;
  transition: border-bottom 0.1s linear;
  border-bottom: 2px solid transparent;
}

.navbar-list > li > a:hover {
  border-bottom: 2px solid #f5c108;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 80px 120px 90px 120px;
}

.aboutus-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #005794;
}

.aboutus-title > .page-title {
  margin: 25px 0 0 0;
}

.aboutus .h2-like {
  margin: 45px 0 0 0;
}

.aboutus-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 55px;
  margin: 45px 0 0 0;
}

.aboutus-progress-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 400px;
  min-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus-progress-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.aboutus-progress-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 21px 0 0 0;
}

.aboutus-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 0 0 0;
}

.aboutus-steps-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 20px 20px 20px;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  margin: -1px 0 0 -1px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-image: url(../img/step_background_1.png);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.aboutus-steps-item:hover {
  -webkit-box-shadow: -2px 25px 30px rgba(0, 0, 0, 0.1);
          box-shadow: -2px 25px 30px rgba(0, 0, 0, 0.1);
  background-image: url(../img/step_background.png);
}

.aboutus-steps-item:hover > .aboutus-steps-title {
  color: #005794;
}

.aboutus-steps-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 72px;
  text-transform: uppercase;
  color: #444444;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.aboutus-steps-content {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 5px 0 0 0;
}

.presentation {
  position: relative;
  height: 100vh;
}

.presentation-video {
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation-btn {
  display: block;
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  cursor: pointer;
}

.presentation-btn.presentation-btn--hiden {
  display: none;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 635px;
  margin: -1px 0 0 0;
}

.services-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.services-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#0072c2));
  background-image: linear-gradient(to bottom, #000000 0%, #0072c2 100%);
  opacity: 0;
}

.services-item:hover > .services-arrow {
  opacity: 1;
}

.services-item:hover::before {
  content: "";
  opacity: 0.7;
}

.services-item:nth-child(1) {
  background-image: url(../img/services_1.png);
}

.services-item:nth-child(2) {
  background-image: url(../img/services_2.png);
}

.services-item:nth-child(3) {
  background-image: url(../img/services_3.png);
}

.services-item:nth-child(4) {
  background-image: url(../img/services_4.png);
}

.services-item:nth-child(5) {
  background-image: url(../img/services_5.png);
}

.services-arrow {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.services-title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 80px 0 0 0;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 80px 120px 90px 120px;
  background: #002844;
  color: #ffffff;
}

.work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-title > .page-title {
  margin: 25px 0 0 0;
}

.work .h2-like {
  margin: 45px 0 0 0;
}

.work-form {
  margin: 40px 0 0 0;
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.work-form .input-txt,
.work-form .textarea {
  width: 100%;
}

.work-form .input-number {
  width: 145px;
}

.work-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-field .radio-inner:last-child {
  margin: 0 0 0 50px;
}

.work-field + .work-field {
  margin: 20px 0 0 0;
}

.work-field a {
  color: #ffffff;
}

.work-field .check-inner > label:nth-of-type(2) {
  display: block;
  width: 300px;
}

.work-field-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.vacancies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 507px;
  padding: 80px 120px 90px 120px;
  color: #ffffff;
  background-image: url(../img/vacancies.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.vacancies-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vacancies-title > .page-title {
  margin: 25px 0 0 0;
}

.vacancies .h2-like {
  margin: 45px 0 0 0;
}

.vacancies .input-sub {
  margin: 38px 0 0 0;
}

.vacancies-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
  list-style: none;
  padding: 0;
}

.vacancies-pagination > li + li {
  margin: 0 0 0 35px;
}

.vacancies-pagination > li > a {
  display: block;
  width: 9px;
  height: 9px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.vacancies-pagination > li > a:hover {
  background: #f5c108;
  opacity: initial;
}

.vacancies-pagination > li:nth-of-type(2) a {
  background: #f5c108;
  opacity: initial;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 65px 30px 60px 30px;
  color: #ffffff;
  fill: #ffffff;
  background-color: #000000;
  min-height: 392px;
}

.footer-company {
  padding: 0 10px 0 0;
  -webkit-box-flex: 1.75;
      -ms-flex: 1.75 1;
          flex: 1.75 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  opacity: 0.5;
}

.footer-company p:first-of-type {
  max-width: 300px;
}

.footer-company p:last-of-type {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  margin: auto 0 0 0;
}

.footer-nav {
  padding: 0 10px 0 0;
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25 1;
          flex: 1.25 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav > li + li {
  margin: 25px 0 0 0;
}

.footer-nav > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 3px 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.footer-nav > li > a:hover {
  border-bottom: 2px solid #f5c108;
}

.footer-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  opacity: 0.5;
}

.footer-txt {
  margin: 5px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

.footer-title {
  margin: 15px 0 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-title:first-child {
  margin: 0;
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 22px;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 22px;
  }
}

@media (max-width: 1200px) {
  .aboutus {
    padding: 80px 80px 90px 80px;
  }
  .services {
    height: 635px;
  }
  .services-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .services-title {
    margin: 0;
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .work {
    padding: 80px 80px 90px 80px;
  }
  .vacancies {
    padding: 80px 80px 90px 80px;
  }
  .footer {
    padding: 40px 30px 40px 30px;
    min-height: initial;
  }
}

@media (max-width: 992px) {
  .banner-pagination {
    display: none;
  }
  .header-banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-arrow {
    display: none;
  }
  .work-field {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vacancies-pagination {
    display: none;
  }
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-company {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .footer-nav {
    display: none;
  }
  .footer-txt {
    font-size: 14px;
    line-height: 24px;
  }
  .footer-contact {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
}

@media (max-width: 768px) {
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1000;
  }
  .header-mobile-chk:checked ~ .header-mobile {
    background: #0c0c0c;
  }
  .header-mobile-chk:checked ~ .header-nav {
    visibility: visible;
    height: calc(100vh - 48px);
  }
  .header-nav {
    position: fixed;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    visibility: hidden;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 48px;
    background: #0c0c0c;
    height: 0;
    padding: 40px 60px 8px;
  }
  .header-nav .logo {
    display: none;
  }
  .header-nav .navbar {
    width: 100%;
  }
  .header-nav .navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .header-nav .navbar-list > li {
    margin: 0;
    height: 44px;
    width: 100%;
    border-top: 1px solid #3f3f42;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav .navbar-list > li:first-child {
    border-top: 1px solid transparent;
  }
  .header-scroll {
    bottom: 5px;
  }
  .header-scroll-ico {
    margin: 0;
  }
  .aboutus {
    padding: 40px 20px 40px 20px;
  }
  .presentation {
    height: calc(100vh - 48px);
  }
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: initial;
  }
  .services-item {
    height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: initial;
            flex-flow: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .services-title {
    margin: 0;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    -webkit-transform: initial;
            transform: initial;
  }
  .work {
    min-height: initial;
    padding: 40px 20px 60px 20px;
  }
  .work-field:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-field + .work-field {
    margin: 0;
  }
  .work-field > * {
    margin: 20px 0 0 0;
  }
  .vacancies {
    min-height: initial;
    padding: 40px 20px 60px 20px;
  }
}

@media (max-width: 576px) {
  .banner-title {
    padding: 25px;
  }
  .h1-like {
    font-weight: 300;
    font-size: 44px;
    line-height: 62px;
  }
  .h2-like {
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
  }
  .services-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
  }
  .aboutus-steps-title {
    font-weight: 500;
  }
  .input-sub {
    height: 55px;
    width: 200px;
  }
  .input-sub::before, .input-sub::after {
    height: 55px;
    width: 150px;
  }
  .work-field {
    font-size: 20px;
  }
  .work-field:last-child .input-sub {
    margin: 30px 0 0 0;
  }
  .check-inner .check-style {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
  }
  .check-inner label {
    width: initial;
  }
}
