@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("../fonts/OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("../fonts/OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("../fonts/OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("../fonts/OpenSans-Italic"), url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("../fonts/OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("../fonts/OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("../fonts/OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("../fonts/OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("../fonts/OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("../fonts/OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

:root {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
  background-color: #f6f9fd;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.h1-like {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #333333;
  margin: 0 10px 0 0;
}

.h2-like {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #4f4f4f;
  margin: 0 10px 0 0;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.field-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 600;
  font-size: 14px;
  margin: 0 10px 0 0;
}

.field-text {
  width: 100%;
  min-width: 160px;
  height: 40px;
  outline: none;
  padding: 9px 10px 9px 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  cursor: default;
}

.field-text::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-text::-moz-placeholder {
  color: #bdbdbd;
}

.field-text.edit {
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.field-textarea {
  width: 100%;
  height: 69px;
  outline: none;
  padding: 9px 10px 9px 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  resize: none;
  cursor: default;
}

.field-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-textarea::-moz-placeholder {
  color: #bdbdbd;
}

.field-textarea.edit {
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.field-date {
  width: 160px;
  height: 40px;
  outline: none;
  padding: 9px 10px 9px 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  cursor: default;
}

.field-date::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-date::-moz-placeholder {
  color: #bdbdbd;
}

.field-date.edit {
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.btn-reset {
  outline: none;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 12px;
  color: #4f4f4f;
  height: 32px;
  padding: 8px 18px 8px 18px;
}

.btn-submit {
  outline: none;
  cursor: pointer;
  background: #07a6d7;
  border: 1px solid #07a6d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 12px;
  color: #ffffff;
  height: 32px;
  padding: 8px 18px 8px 18px;
}

.btn-edit {
  outline: none;
  cursor: pointer;
  background: #07a6d7;
  border: 1px solid #07a6d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 12px;
  color: #ffffff;
  height: 32px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 50px;
}

.tabs-tab {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 21px 10px 21px;
  font-size: 16px;
  font-weight: bold;
  color: #4f4f4f;
}

.tabs-tab.active {
  color: #07a6d7;
}

.tabs-tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #07a6d7;
}

.filter-open {
  display: none;
}

.filter-open:checked + .filter {
  display: block;
}

.filter {
  display: none;
  border-bottom: 1px solid #cccccc;
}

.filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 21px;
  height: 50px;
}

.filter-close {
  cursor: pointer;
}

.filter-close-svg {
  fill: #666666;
}

.filter-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-fields-iner {
  padding: 0 21px 0 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.filter-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 0;
}

.filter-field-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 125px;
  font-weight: 600;
  margin: 0 4px 0 0;
}

.filter-field-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 40px;
  outline: none;
  padding: 9px 10px 9px 18px;
  background: #ffffff;
  color: #4f4f4f;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  min-width: 391px;
}

.filter-field-text::-webkit-input-placeholder {
  color: #bdbdbd;
}

.filter-field-text::-moz-placeholder {
  color: #bdbdbd;
}

.filter-field-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-field-date-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 600;
  font-size: 14px;
  margin: 0 15px 0 0px;
}

.filter-field-date-label:last-of-type {
  margin: 0 15px 0 15px;
}

.filter-field-date-input {
  width: 158px;
  height: 40px;
  outline: none;
  padding: 9px 15px 9px 18px;
  background: #ffffff;
  color: #4f4f4f;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.filter-field-date-input::-webkit-datetime-edit-month-field, .filter-field-date-input::-webkit-datetime-edit-day-field, .filter-field-date-input::-webkit-datetime-edit-year-field {
  color: #bdbdbd;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 21px;
  height: 70px;
}

.filter-buttons .btn-reset {
  margin: 0 20px 0 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 22px 10px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-group-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 60px 5px 0;
}

.navigation-group-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 60px 5px 0;
}

.navigation-group-value-label {
  margin: 0px 19px 0px 0;
}

.navigation-group-value-list {
  width: 61px;
  height: 28px;
  padding: 0 0 0 13px;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  color: #4f4f4f;
}

.navigation-pagination {
  margin: 5px 0 5px 0;
}

.navigation-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-pagination-list-item {
  margin: 0px 20px 0px 0;
}

.navigation-pagination-list-item:last-child {
  margin: 0;
}

.navigation-pagination-list-item.active .navigation-pagination-list-item-url {
  color: #ffffff;
  background: #009bcd;
}

.navigation-pagination-list-item-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #4f4f4f;
}

.navigation-pagination-list-item-url:hover {
  background: #f2f2f2;
}

.navigation-pagination-list-item-url-svg {
  fill: #666666;
}

.main {
  margin: 60px 0 0 225px;
  padding: 20px;
}

.content {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  padding: 0 18px 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.content-header-arrow {
  width: 12px;
  height: 21px;
  margin: 0 20px 0 0;
}

.content-header-arrow-svg {
  fill: #666666;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 20px;
  margin: 0 0 0 225px;
}

.header-title {
  line-height: 19px;
}

.header-title-child {
  color: #c4c4c4;
}

.header-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-controls-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 39px 0 0;
}

.header-controls-search-inp {
  position: absolute;
  right: -5000px;
  width: 0px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  padding: 8px 10px 8px 10px;
  background-color: transparent;
}

.header-controls-search-inp:focus {
  right: -10px;
  width: 315px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.header-controls-search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-controls-search-label-icon {
  fill: #666666;
}

.header-controls-search-label:hover {
  cursor: pointer;
}

.header-controls-photo {
  display: block;
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header-controls-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #666666;
}

.header-controls-menu:focus ~ .header-controls-list {
  display: block;
}

.header-controls-list {
  display: none;
  position: absolute;
  right: -13px;
  top: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 145px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ebe9e9;
}

.header-controls-list::before {
  position: absolute;
  right: 10px;
  top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ebe9e9;
}

.header-controls-list::after {
  position: absolute;
  right: 11px;
  top: -8px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff;
}

.header-controls-list-item {
  border-bottom: 1px solid #ebe9e9;
}

.header-controls-list-item:hover {
  background-color: #009bcd;
}

.header-controls-list-item:hover .header-controls-list-item-url {
  color: #ffffff;
}

.header-controls-list-item-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0 0 0 35px;
  text-decoration: none;
  color: #333333;
}

.header-controls-list-item:last-child {
  border: none;
}

.navbar {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 225px;
  background-image: url(../img/backgrnnavbar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d0d1d7;
}

.navbar-head {
  height: 60px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 16px 0 20px;
}

.navbar-head-btn {
  fill: #005574;
  cursor: pointer;
}

.navbar-head-btn:hover {
  cursor: pointer;
}

.navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  overflow: auto;
}

.navbar-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

.navbar-menu::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #d0d1d7;
}

.navbar-menu::-webkit-scrollbar-track {
  background: transparent;
}

.navbar-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu-list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #d0d1d7;
  text-decoration: none;
  min-height: 60px;
  padding: 10px 18px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.navbar-menu-list-item-content:hover {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-menu-list-item-content:hover .navbar-menu-list-item-content-icon {
  fill: #ffffff;
}

.navbar-menu-list-item-content:focus {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-menu-list-item-content:focus .navbar-menu-list-item-content-icon {
  fill: #ffffff;
}

.navbar-menu-list-item-content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
}

.navbar-menu-list-item-content-icon-svg {
  fill: #d0d1d7;
}

.navbar-menu-list-item-content-title {
  display: block;
  margin: 0 auto 0 10px;
  line-height: 19px;
}

.navbar-menu-list-item-content-amount {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  margin: 0 0 0 10px;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: initial;
  text-align: center;
  background-color: #eb6437;
}

.navbar-menu-list-item-content-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 10px;
  fill: #d0d1d7;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.navbar-menu-list-item-content.open .navbar-menu-list-item-content-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar-menu-list-item-content.open + .navbar-menu-list {
  display: block;
}

.navbar-menu-list.list-child {
  display: none;
}

.navbar-menu-list.list-child .navbar-menu-list-item-content {
  min-height: 50px;
  padding: 10px 18px 10px 30px;
}

.navbar-menu-list.list-child .navbar-menu-list-item-content-icon {
  width: 23px;
}

.navbar-menu-list.list-child .navbar-menu-list-item-content-title {
  font-size: 12px;
  line-height: 16px;
}

.navbar-menu-list.list-child .open {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-menu-list.list-child .open .navbar-menu-list-item-content-icon {
  fill: #ffffff;
}

.navbar-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 15px 0;
  font-size: 12px;
}

.navbar-footer::after {
  position: absolute;
  top: 0;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #d0d1d7;
  opacity: 0.5;
}

.navbar-footer-policy {
  color: #d0d1d7;
  margin: 0 0 15px 0;
}

.navbar-footer-company {
  text-transform: uppercase;
}

.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  padding: 0 18px 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 0 0;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-controls-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-controls-actions-file, .home-controls-actions-print, .home-controls-actions-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px 5px 10px;
}

.home-controls-actions-file-svg, .home-controls-actions-print-svg, .home-controls-actions-filter-svg {
  fill: #666666;
}

.home-controls-actions-file:hover .home-controls-actions-file-svg,
.home-controls-actions-file:hover .home-controls-actions-print-svg,
.home-controls-actions-file:hover .home-controls-actions-filter-svg, .home-controls-actions-print:hover .home-controls-actions-file-svg,
.home-controls-actions-print:hover .home-controls-actions-print-svg,
.home-controls-actions-print:hover .home-controls-actions-filter-svg, .home-controls-actions-filter:hover .home-controls-actions-file-svg,
.home-controls-actions-filter:hover .home-controls-actions-print-svg,
.home-controls-actions-filter:hover .home-controls-actions-filter-svg {
  fill: #07a6d7;
}

.home-controls-actions-filter {
  cursor: pointer;
}

.home-list {
  border-bottom: 1px solid #cccccc;
  overflow: auto;
}

.home-list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

.home-list::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #d0d1d7;
}

.home-list::-webkit-scrollbar-track {
  background: transparent;
}

.home-table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 15px 0 15px;
  color: #4f4f4f;
}

.home-table-header-line {
  height: 70px;
}

.home-table-header-col {
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-table-header-col:first-child {
  padding: 15px 5px 15px 18px;
}

.home-table-header-col:last-child {
  padding: 15px 18px 15px 5px;
}

.home-table-header-col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-table-header-col-item-title {
  text-align: left;
}

.home-table-header-col-item-sort {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 3px;
}

.home-table-header-col-item-sort-svg {
  fill: #c4c4c4;
}

.home-table-header-col-item-sort:hover .home-table-header-col-item-sort-svg {
  fill: #07a6d7;
}

.home-table-header-col:nth-child(2) .home-table-header-col-item-sort-svg {
  fill: #07a6d7;
}

.home-table-content-line:nth-child(4n + 2), .home-table-content-line:nth-child(4n + 1) {
  background-color: #f5f5f5;
}

.home-table-content-line.alert {
  background-color: #ffeaeb;
}

.home-table-content-line.alert + .home-table-content-line > .home-table-content-col {
  background-color: #ffeaeb;
  color: #ff0000;
  padding: 0 18px 10px 10px;
  text-align: right;
}

.home-table-content-col {
  height: 100%;
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.home-table-content-col:first-child {
  padding: 15px 5px 15px 18px;
}

.home-table-content-col:last-child {
  padding: 15px 18px 15px 5px;
  position: relative;
}

.home-table-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-table-person-photo {
  display: block;
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-table-person-content-name {
  display: block;
  font-weight: bold;
  color: #4f4f4f;
}

.home-table-person-content-date {
  display: block;
}

.home-table-person-content-position {
  display: block;
}

.home-table-menu-svg {
  fill: #666666;
}

.home-table-menu:focus ~ .home-table-list {
  display: block;
}

.home-table-list {
  display: none;
  position: absolute;
  z-index: 1;
  right: 13px;
  top: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 180px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ebe9e9;
}

.home-table-list::before {
  position: absolute;
  right: 10px;
  top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ebe9e9;
}

.home-table-list::after {
  position: absolute;
  right: 11px;
  top: -8px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff;
}

.home-table-list-item {
  border-bottom: 1px solid #ebe9e9;
}

.home-table-list-item:hover {
  background-color: #009bcd;
}

.home-table-list-item:hover .home-table-list-item-url {
  color: #ffffff;
}

.home-table-list-item-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 45px;
  text-decoration: none;
  color: #333333;
}

.home-table-list-item:last-child {
  border: none;
}

.employee-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 20px;
  height: 80px;
}

.employee-emergency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 20px;
  background-color: #fdeeee;
  border-radius: 10px;
  padding: 24px 20px;
}

.employee-emergency-svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  fill: #fe4513;
  width: 50px;
  height: 37px;
  margin: 0 20px 0 0;
}

.employee-emergency-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-emergency-main {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employee-emergency-child {
  -webkit-box-flex: 3;
      -ms-flex: 3 1;
          flex: 3 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employee-emergency-child-iner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employee-emergency-title {
  font-weight: bold;
  color: #333333;
  margin: 0 25px 0 0;
  padding: 2px 0;
  min-width: 120px;
}

.employee-emergency-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.employee-emergency-date-svg {
  margin: 0 7px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.employee-emergency-date-txt {
  min-width: 140px;
}

.employee-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0 0 0 20px;
  margin: 25px 0 25px 0;
}

.employee-main-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  margin: 0 68px 0 0;
}

.employee-main-photo-img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: 0 0 9px 0;
}

.employee-main-photo-title {
  display: block;
  width: 155px;
  text-align: center;
  color: #828282;
}

.employee-main-fields {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-main-fields-iner {
  margin: 0 20px 0 20px;
}

.employee-main-fields-iner:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.employee-main-fields-iner:nth-child(1) .field-label {
  width: 80px;
}

.employee-main-fields-iner:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

.employee-main-fields-iner:nth-child(2) .field-label {
  width: 125px;
}

.employee-main-position {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  background: #f5f5f5;
}

.employee-main-position-link {
  color: #07a6d7;
}

.employee-passport {
  margin: 0 20px 25px 20px;
  padding: 20px 0 20px 0;
  background: #f5f5f5;
  border-radius: 10px;
}

.employee-passport-title {
  display: block;
  font-size: 16px;
  padding: 0 20px 0 20px;
  margin: 0 0 25px 0;
}

.employee-passport-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-passport-fields-iner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 20px 0 20px;
}

.employee-passport-fields-iner:nth-child(2) .field:nth-child(2) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.employee-passport-fields-iner:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.employee-passport-fields-iner .field-label {
  width: 100px;
}

.employee-passport-fields-iner .field-label.passport {
  width: 30px;
  margin: 0 10px 0 100px;
}

.employee-passport-fields-iner .field-text.passport {
  max-width: 160px;
  min-width: 80px;
  width: 100%;
}

.employee-passport-fields-iner .field-text,
.employee-passport-fields-iner .field-date,
.employee-passport-fields-iner .field-textarea {
  background: #ebebeb;
}

.employee-passport-fields-iner .field-text.edit,
.employee-passport-fields-iner .field-date.edit,
.employee-passport-fields-iner .field-textarea.edit {
  background: #ffffff;
}

.employee-documents {
  padding: 0 20px 27px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.employee-documents-controls {
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.employee-documents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  border-bottom: 1px solid #cccccc;
}

.employee-documents-header-action {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bdbdbd;
  cursor: pointer;
}

.employee-documents-header-action::before {
  position: absolute;
  content: "-";
  color: #ffffff;
  font-size: 32px;
  top: -4px;
  left: 5px;
}

.employee-documents-check {
  display: none;
}

.employee-documents-check:checked + .employee-documents-header .employee-documents-header-action::before {
  content: "+";
  font-size: 21px;
  top: -1px;
  left: 4px;
}

.employee-documents-check:checked + .employee-documents-header + .employee-documents-list {
  display: none;
}

.employee-documents-list {
  overflow: auto;
}

.employee-documents-table {
  border-collapse: collapse;
  width: 100%;
  color: #4f4f4f;
}

.employee-documents-table-header-line {
  height: 70px;
}

.employee-documents-table-header-col {
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.employee-documents-table-header-col:first-child {
  padding: 15px 5px 15px 15px;
  width: 80px;
}

.employee-documents-table-header-col:nth-child(3) {
  width: 320px;
}

.employee-documents-table-header-col:nth-child(4) {
  width: 120px;
}

.employee-documents-table-header-col:nth-child(5) {
  width: 160px;
}

.employee-documents-table-header-col:nth-child(6) {
  width: 180px;
}

.employee-documents-table-header-col:last-child {
  padding: 15px 15px 15px 5px;
  width: 90px;
}

.employee-documents-table-header-col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-header-col-item-title {
  text-align: left;
}

.employee-documents-table-header-col-item-sort {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 3px;
}

.employee-documents-table-header-col-item-sort-svg {
  fill: #c4c4c4;
}

.employee-documents-table-header-col-item-sort:hover .content-table-header-col-item-sort-svg {
  fill: #07a6d7;
}

.employee-documents-table-header-col:nth-child(1) .employee-documents-table-header-col-item-sort-svg {
  fill: #07a6d7;
}

.employee-documents-table-body-line:nth-child(2n + 1) {
  background-color: #f5f5f5;
}

.employee-documents-table-body-line.alert {
  background-color: #ffeaeb;
}

.employee-documents-table-body-col {
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.employee-documents-table-body-col:first-child {
  padding: 15px 5px 15px 15px;
  border-radius: 10px 0px 0px 10px;
}

.employee-documents-table-body-col:last-child {
  padding: 15px 15px 15px 5px;
  border-radius: 0px 10px 10px 0px;
}

.employee-documents-table-body-col-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.employee-documents-table-body-col-name-temp {
  color: #999999;
}

.employee-documents-table-body-col-name-inp {
  color: #07a6d7;
}

.employee-documents-table-body-col-name-status_ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-body-col-name-status_ok .employee-documents-table-body-col-name-status-svg {
  fill: #78c941;
}

.employee-documents-table-body-col-name-status_ok .employee-documents-table-body-col-name-status-txt {
  font-size: 12px;
  margin: 0 0 0 3px;
  color: #78c941;
  white-space: nowrap;
}

.employee-documents-table-body-col-name-status_negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-body-col-name-status_negative .employee-documents-table-body-col-name-status-svg {
  fill: #eb5554;
}

.employee-documents-table-body-col-name-status_negative .employee-documents-table-body-col-name-status-txt {
  font-size: 12px;
  margin: 0 0 0 3px;
  color: #eb5554;
  white-space: nowrap;
}

.employee-documents-table-body-col-enddate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.employee-documents-table-body-col-enddate-status_ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-body-col-enddate-status_ok .employee-documents-table-body-col-name-status-svg {
  fill: #78c941;
}

.employee-documents-table-body-col-enddate-status_ok .employee-documents-table-body-col-name-status-txt {
  font-size: 12px;
  margin: 0 0 0 3px;
  color: #78c941;
  white-space: nowrap;
}

.employee-documents-table-body-col-enddate-status_negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-body-col-enddate-status_negative .employee-documents-table-body-col-name-status-svg {
  fill: #eb5554;
}

.employee-documents-table-body-col-enddate-status_negative .employee-documents-table-body-col-name-status-txt {
  font-size: 12px;
  margin: 0 0 0 3px;
  color: #eb5554;
  white-space: nowrap;
}

.employee-documents-table-body-col-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee-documents-table-body-col-menu-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employee-documents-table-body-col-menu-lock-svg {
  fill: #666666;
}

.employee-documents-table-body-col-menu-url {
  width: 3px;
  height: 17px;
  margin: 0 0 0 24px;
}

.employee-documents-table-body-col-menu-url-svg {
  fill: #666666;
}

.navbar-close .header {
  margin: 0 0 0 60px;
}

.navbar-close .navbar {
  width: 60px;
}

.navbar-close .navbar-head {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: #1c4252;
}

.navbar-close .navbar-head-btn {
  fill: #ffffff;
}

.navbar-close .navbar .open,
.navbar-close .navbar .open ~ .list-child {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-close .navbar .list-child .open {
  background: rgba(0, 0, 0, 0.2);
}

.navbar-close .navbar .navbar-menu-list-item-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.navbar-close .navbar .list-child .navbar-menu-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0 3px 0;
}

.navbar-close .navbar .list-child .navbar-menu-list-item .navbar-menu-list-item-content {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.navbar-close .navbar .list-child .navbar-menu-list-item .navbar-menu-list-item-content:hover, .navbar-close .navbar .list-child .navbar-menu-list-item .navbar-menu-list-item-content:focus {
  background: rgba(0, 0, 0, 0.2);
}

.navbar-close .navbar .navbar-head-logo,
.navbar-close .navbar .navbar-menu-list-item-content-title,
.navbar-close .navbar .navbar-menu-list-item-content-amount,
.navbar-close .navbar .navbar-menu-list-item-content-arrow,
.navbar-close .navbar .navbar-footer {
  display: none;
}

.navbar-close .main {
  margin: 60px 0 0 60px;
}

@media (max-width: 768px) {
  .employee-main-photo {
    display: none;
  }
}

@media (max-width: 1200px) {
  .employee-main-fields-iner:nth-child(1) .field-label {
    width: 125px;
  }
  .employee-passport-fields-iner .field-label.passport {
    width: 50px;
    margin: 0 10px 0 40px;
  }
}

@media (max-width: 1600px) {
  .employee-passport-fields-iner .field-label.passport {
    width: 30px;
    margin: 0 10px 0 40px;
  }
  .employee-documents-table-header-col:nth-child(2) {
    width: 80px;
  }
  .employee-documents-table-header-col:nth-child(3) {
    min-width: 145px;
  }
  .employee-documents-table-header-col:nth-child(4) {
    width: 160px;
  }
  .employee-documents-table-header-col:nth-child(5) {
    width: 100px;
  }
  .employee-documents-table-header-col:nth-child(6) {
    width: 100px;
  }
  .employee-documents-table-header-col:nth-child(6) .content-employee-documents-table-header-col-item-title {
    width: 60px;
  }
  .employee-documents-table-header-col:nth-child(7) {
    width: 160px;
  }
  .employee-documents-table-header-col:nth-child(7) .content-employee-documents-table-header-col-item-title {
    width: 82px;
  }
  .employee-documents-table-header-col:last-child {
    width: 90px;
  }
}
