@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("../fonts/OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("../fonts/OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("../fonts/OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("../fonts/OpenSans-Italic"), url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("../fonts/OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("../fonts/OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("../fonts/OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("../fonts/OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("../fonts/OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("../fonts/OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

html,
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f6f9fd;
}

.h1-like {
  display: block;
  font-size: 1.28rem;
  font-weight: 600;
  line-height: 1.4;
  color: #333333;
  margin: 0 10px 0 0;
}

.h2-like {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.14rem;
  color: #4f4f4f;
  margin: 0 10px 0 0;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.field-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.field-text {
  outline: none;
  width: 100%;
  min-width: 160px;
  height: 40px;
  padding: 0 10px 0 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  border-radius: 20px;
  cursor: default;
}

.field-text::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-text::-moz-placeholder {
  color: #bdbdbd;
}

.field-text.is-edit {
  height: 36px;
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.field-textarea {
  outline: none;
  width: 100%;
  height: 62px;
  line-height: 20px;
  padding: 8px 10px 8px 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  resize: none;
  cursor: default;
}

.field-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-textarea::-moz-placeholder {
  color: #bdbdbd;
}

.field-textarea.is-edit {
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.field-date {
  outline: none;
  width: 160px;
  height: 40px;
  padding: 0 10px 0 18px;
  background: #f2f2f2;
  color: #4f4f4f;
  border: none;
  border-radius: 20px;
  cursor: default;
}

.field-date::-webkit-input-placeholder {
  color: #bdbdbd;
}

.field-date::-moz-placeholder {
  color: #bdbdbd;
}

.field-date.is-edit {
  height: 36px;
  border: 1px solid #cccccc;
  background: #ffffff;
  cursor: initial;
}

.field-radio {
  height: 18px;
  width: 18px;
  border: #bdbdbd;
  display: none;
}

.field-radio.is-edit + .field-radio-style-wrp .field-radio-style {
  border-color: #bdbdbd;
}

.field-radio.is-edit + .field-radio-style-wrp + .field-radio-label {
  color: #4f4f4f;
}

.field-radio:checked + .field-radio-style-wrp .field-radio-style {
  border-color: #009bcd;
}

.field-radio:checked + .field-radio-style-wrp .field-radio-style::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #009bcd;
  border-radius: 20px;
}

.field-radio-style-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.field-radio-style {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  margin: 0 15px 0 0;
}

.field-radio-label {
  margin: 0 27px 0 0;
  color: inherit;
}

.btn {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.85rem;
  color: #ffffff;
  height: 32px;
  padding: 6px 18px 6px 18px;
  margin: 0 0 0 10px;
}

.btn.btn--add, .btn.btn--edit, .btn.btn--submit {
  background: #07a6d7;
  border: 1px solid #07a6d7;
}

.btn.btn--add:hover, .btn.btn--edit:hover, .btn.btn--submit:hover {
  background: #0685ac;
  border-color: #0685ac;
}

.btn.btn--save {
  background: #78c941;
  border: 1px solid #78c941;
}

.btn.btn--save:hover {
  background: #60a134;
  border-color: #60a134;
}

.btn.btn--delete {
  background: #eb5554;
  border: 1px solid #eb5554;
}

.btn.btn--delete:hover {
  background: #d34c4c;
  border-color: #d34c4c;
}

.btn.btn--reset {
  background: #f5f5f5;
  border: 1px solid #cccccc;
  color: #4f4f4f;
}

.btn.btn--reset:hover {
  background: #dddddd;
  border-color: #b8b8b8;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 20px;
  margin: 0 0 0 225px;
}

.header-title {
  line-height: 19px;
}

.header-title-child {
  color: #c4c4c4;
}

.header-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 39px 0 0;
}

.header-search-inp {
  position: absolute;
  right: -5000px;
  width: 0px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  padding: 8px 10px 8px 10px;
  background-color: transparent;
}

.header-search-inp:focus {
  right: -10px;
  width: 315px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.header-search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #666666;
  cursor: pointer;
}

.header-photo {
  display: block;
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #666666;
}

.header-btn:focus ~ .header-menu {
  display: block;
}

.header-menu {
  display: none;
  position: absolute;
  right: -13px;
  top: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 145px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ebe9e9;
}

.header-menu::before {
  position: absolute;
  right: 10px;
  top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ebe9e9;
}

.header-menu::after {
  position: absolute;
  right: 11px;
  top: -8px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff;
}

.header-menu-item {
  border-bottom: 1px solid #ebe9e9;
}

.header-menu-item:hover {
  background-color: #009bcd;
}

.header-menu-item:hover .header-menu-link {
  color: #ffffff;
}

.header-menu-item:last-child {
  border: none;
}

.header-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0 0 0 35px;
  text-decoration: none;
  color: #333333;
}

.navbar {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 225px;
  background-image: url(../img/backgrnnavbar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d0d1d7;
}

.navbar-head {
  height: 60px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 16px 0 20px;
}

.navbar-head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #005574;
  cursor: pointer;
}

.navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  overflow: auto;
}

.navbar-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

.navbar-menu::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #d0d1d7;
}

.navbar-menu::-webkit-scrollbar-track {
  background: transparent;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #d0d1d7;
  text-decoration: none;
  min-height: 60px;
  padding: 10px 18px 10px 20px;
  outline: none;
}

.navbar-list-link:hover {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-list-link:hover .navbar-list-icon {
  fill: #ffffff;
}

.navbar-list-link.navbar-list--open .navbar-list-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar-list-link.navbar-list--open + .child {
  display: block;
}

.navbar-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
}

.navbar-list-icon-svg {
  fill: #d0d1d7;
}

.navbar-list-title {
  display: block;
  margin: 0 auto 0 10px;
  line-height: 19px;
}

.navbar-list-amount {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  margin: 0 0 0 10px;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 12px;
  font-size: 0.85rem;
  line-height: initial;
  text-align: center;
  background-color: #eb6437;
}

.navbar-list-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 10px;
  fill: #d0d1d7;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.navbar-list.child {
  display: none;
}

.navbar-list.child .navbar-list-link {
  min-height: 50px;
  padding: 10px 18px 10px 30px;
}

.navbar-list.child .navbar-list-icon {
  width: 23px;
}

.navbar-list.child .navbar-list-title {
  font-size: 12px;
  font-size: 0.85rem;
  line-height: 16px;
}

.navbar-list.child .navbar-list--open {
  background: rgba(196, 196, 196, 0.2);
}

.navbar-list.child .navbar-list--open .navbar-list-icon-svg {
  fill: #ffffff;
}

.navbar-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 15px 0;
  font-size: 12px;
  font-size: 0.85rem;
}

.navbar-footer::after {
  position: absolute;
  top: 0;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #d0d1d7;
  opacity: 0.5;
}

.navbar-footer-policy {
  color: #d0d1d7;
  margin: 0 0 15px 0;
}

.navbar-footer-company {
  text-transform: uppercase;
}

.main {
  margin: 60px 0 0 225px;
  padding: 15px;
}

.content {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 0 18px 0 18px;
  border-bottom: 1px solid #cccccc;
}

.content-header-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}

.content-header-arrow-svg {
  fill: #666666;
}

.content-header .h1-like {
  margin: 0 auto 0 0;
}

.content-header .tabs {
  margin: 0 auto 0 -18px;
}

.content-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 20px;
}

.content-actions-file, .content-actions-print, .content-actions-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px 5px 10px;
}

.content-actions-file-svg, .content-actions-print-svg, .content-actions-filter-svg {
  fill: #666666;
}

.content-actions-file:hover .content-actions-file-svg,
.content-actions-file:hover .content-actions-print-svg,
.content-actions-file:hover .content-actions-filter-svg, .content-actions-print:hover .content-actions-file-svg,
.content-actions-print:hover .content-actions-print-svg,
.content-actions-print:hover .content-actions-filter-svg, .content-actions-filter:hover .content-actions-file-svg,
.content-actions-filter:hover .content-actions-print-svg,
.content-actions-filter:hover .content-actions-filter-svg {
  fill: #07a6d7;
}

.content-actions-filter {
  cursor: pointer;
}

.content-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
  margin: 0 20px;
  border-top: 1px solid #cccccc;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 49px;
}

.tabs-tab {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 21px 10px 21px;
  font-size: 1.14rem;
  font-weight: bold;
  color: #4f4f4f;
}

.tabs-tab.active {
  color: #07a6d7;
}

.tabs-tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #07a6d7;
}

.filter-open {
  display: none;
}

.filter-open:checked + .filter {
  display: block;
}

.filter {
  display: none;
  border-bottom: 1px solid #cccccc;
}

.filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 21px;
  height: 50px;
  margin: 0 0 15px 0;
}

.filter-close {
  cursor: pointer;
}

.filter-close-svg {
  fill: #666666;
}

.filter-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-fields-inner {
  padding: 0 21px 0 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.filter .field-label {
  width: 125px;
}

.filter .field-label:nth-child(3) {
  margin: 0 10px 0 10px;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 21px;
  margin: 5px 0 20px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 15px 0 15px;
  color: #4f4f4f;
}

.table-header-line {
  height: 70px;
}

.table-header-col {
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.table-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-sort {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 3px;
  fill: #c4c4c4;
}

.table-sort:hover {
  fill: #07a6d7;
}

.table-body-line:nth-child(2n + 1) {
  background-color: #f5f5f5;
}

.table-body-line.alert {
  background-color: #ffeaeb;
}

.table-body-col {
  height: 100%;
  padding: 15px 5px 15px 5px;
  vertical-align: top;
}

.table-body-col:first-child {
  padding: 15px 5px 15px 18px;
}

.table-body-col:last-child {
  padding: 15px 18px 15px 5px;
  position: relative;
}

.table-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.table-photo {
  display: block;
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.table-name {
  display: block;
  font-weight: bold;
  color: #4f4f4f;
}

.table-url {
  display: block;
  color: #07a6d7;
}

.table-date, .table-position, .table-txt {
  display: block;
}

.table-amount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1px 4px;
  border-radius: 2px;
  color: white;
  font-size: 0.85rem;
  line-height: initial;
  background-color: #eb6437;
}

.table-file, .table-link {
  display: block;
  color: #26b1dc;
}

.table-temp {
  display: block;
  color: #999999;
}

.table-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #78c941;
  font-size: 0.85rem;
  color: #78c941;
  white-space: nowrap;
}

.table-negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #eb5554;
  font-size: 0.85rem;
  color: #eb5554;
  white-space: nowrap;
}

.table-status {
  margin: 0 0 0 3px;
}

.table-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #666666;
  margin: 0 24px 0 0;
}

.table-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  fill: #666666;
}

.table-btn:focus ~ .table-menu {
  display: block;
}

.table-menu {
  display: none;
  position: absolute;
  z-index: 1;
  left: -146px;
  top: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 180px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ebe9e9;
}

.table-menu::before {
  position: absolute;
  right: 10px;
  top: -9px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ebe9e9;
}

.table-menu::after {
  position: absolute;
  right: 11px;
  top: -8px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff;
}

.table-menu-item {
  border-bottom: 1px solid #ebe9e9;
}

.table-menu-item:hover {
  background-color: #009bcd;
}

.table-menu-item:hover .table-menu-link {
  color: #ffffff;
}

.table-menu-item:last-child {
  border: none;
}

.table-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 45px;
  text-decoration: none;
  color: #333333;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 22px 10px 18px;
  margin: 5px 0 0 0;
  border-top: 1px solid #cccccc;
}

.navigation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-group-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 60px 5px 0;
}

.navigation-group-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 60px 5px 0;
}

.navigation-group-value-label {
  margin: 0px 19px 0px 0;
}

.navigation-group-value-list {
  width: 61px;
  height: 28px;
  padding: 0 0 0 13px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  color: #4f4f4f;
}

.navigation-pagination {
  margin: 5px 0 5px 0;
}

.navigation-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-pagination-list-item {
  margin: 0px 20px 0px 0;
}

.navigation-pagination-list-item:last-child {
  margin: 0;
}

.navigation-pagination-list-item.active .navigation-pagination-list-item-url {
  color: #ffffff;
  background: #009bcd;
}

.navigation-pagination-list-item-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  text-decoration: none;
  color: #4f4f4f;
}

.navigation-pagination-list-item-url:hover {
  background: #f2f2f2;
}

.navigation-pagination-list-item-url-svg {
  fill: #666666;
}

.passes-list {
  overflow: auto;
}

.passes-list .table-header-col {
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.passes-list .table-header-col:first-child {
  width: 80px;
  padding: 15px 5px 15px 18px;
}

.passes-list .table-header-col:nth-child(6) {
  width: 130px;
}

.passes-list .table-header-col:nth-child(7) {
  width: 180px;
}

.passes-list .table-header-col:nth-child(8) {
  width: 80px;
}

.passes-list .table-header-col:last-child {
  width: 35px;
  padding: 15px 18px 15px 5px;
}

.passes-list .table-header-col:nth-child(2) .table-sort {
  fill: #07a6d7;
}

.passes-list .table-body-line:nth-child(2n + 1) {
  background-color: initial;
}

.passes-list .table-body-line:nth-child(4n + 2), .passes-list .table-body-line:nth-child(4n + 1) {
  background-color: #f5f5f5;
}

.passes-list .table-body-line.alert {
  background-color: #ffeaeb;
}

.passes-list .table-body-line.alert + .table-body-line > .table-body-col {
  background-color: #ffeaeb;
  color: #ff0000;
  padding: 0 18px 10px 10px;
  text-align: right;
}

.employees-list {
  overflow: auto;
}

.employees-list .table-header-col:first-child {
  width: 80px;
  padding: 15px 5px 15px 18px;
}

.employees-list .table-header-col:nth-child(3), .employees-list .table-header-col:nth-child(4) {
  width: 19%;
}

.employees-list .table-header-col:nth-child(5) {
  width: 130px;
}

.employees-list .table-header-col:nth-child(5) span {
  width: 92px;
}

.employees-list .table-header-col:nth-child(6) {
  width: 180px;
}

.employees-list .table-header-col:last-child {
  width: 35px;
  padding: 15px 18px 15px 5px;
}

.employees-list .table-header-col:nth-child(2) .table-sort {
  fill: #07a6d7;
}

.employees-list .table-body-line:nth-child(2n + 1) {
  background-color: #f5f5f5;
}

.employees-list .table-body-line.alert {
  background-color: #ffeaeb;
}

.employees-list .table-body-line.alert + .table-body-line > .table-body-col {
  background-color: #ffeaeb;
  color: #ff0000;
  padding: 0 18px 10px 10px;
  text-align: right;
}

.employee-emergency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px 0 20px;
  background-color: #fdeeee;
  border-radius: 10px;
  padding: 24px 20px;
}

.employee-emergency-svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  fill: #fe4513;
  width: 50px;
  height: 37px;
  margin: 0 20px 0 0;
}

.employee-emergency-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-emergency-main {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employee-emergency-child {
  -webkit-box-flex: 3;
      -ms-flex: 3 1;
          flex: 3 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employee-emergency-child-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employee-emergency-title {
  font-weight: bold;
  color: #333333;
  margin: 0 25px 0 0;
  padding: 2px 0;
  min-width: 120px;
}

.employee-emergency-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.employee-emergency-date-svg {
  margin: 0 7px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.employee-emergency-date-txt {
  white-space: nowrap;
}

.employee-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0 0 0 20px;
  margin: 20px 0 25px 0;
}

.employee-main-photo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  margin: 0 68px 0 0;
}

.employee-main-photo-img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  margin: 0 0 9px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.employee-main-photo-edit {
  position: absolute;
  content: "";
  display: block;
  width: 127px;
  height: 33px;
  top: 122px;
  left: 13px;
  background-image: url(/img/user_icon_edit.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  cursor: pointer;
}

.employee-main-photo-title {
  display: block;
  width: 155px;
  text-align: center;
  color: #828282;
}

.employee-main-fields {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-main-inner {
  margin: 0 20px 0 20px;
}

.employee-main-inner:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.employee-main-inner:nth-child(1) .field-label {
  width: 80px;
}

.employee-main-inner:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

.employee-main-inner:nth-child(2) .field-label {
  width: 125px;
}

.employee-main-position {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  background: #f5f5f5;
}

.employee-main-position-link {
  color: #07a6d7;
}

.employee-passport {
  margin: 0 20px 25px 20px;
  padding: 20px 0 20px 0;
  background: #f5f5f5;
  border-radius: 10px;
}

.employee-passport-title {
  display: block;
  font-size: 1.14rem;
  padding: 0 20px 0 20px;
  margin: 0 0 25px 0;
}

.employee-passport-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.employee-passport-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 20px 0 20px;
}

.employee-passport-inner:nth-child(2) .field:nth-child(2) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.employee-passport-inner:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.employee-passport-inner .field-label {
  width: 100px;
}

.employee-passport-inner .field-label.passport {
  width: 30px;
  margin: 0 10px 0 100px;
}

.employee-passport-inner .field-text.passport {
  max-width: 160px;
  min-width: 80px;
  width: 100%;
}

.employee-passport-inner .field-text,
.employee-passport-inner .field-date,
.employee-passport-inner .field-textarea {
  background: #ebebeb;
}

.employee-passport-inner .field-text.is-edit,
.employee-passport-inner .field-date.is-edit,
.employee-passport-inner .field-textarea.is-edit {
  background: #ffffff;
}

.employee-documents {
  padding: 0 20px 0 20px;
  width: 100%;
  border-bottom: 1px solid transparent;
}

.employee-documents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  border-top: 1px solid #cccccc;
}

.employee-documents-action {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bdbdbd;
  cursor: pointer;
}

.employee-documents-action::before {
  position: absolute;
  content: "-";
  color: #ffffff;
  font-size: 32px;
  line-height: 16px;
  top: -1px;
  left: 5px;
}

.employee-documents-check {
  display: none;
}

.employee-documents-check:checked + .employee-documents-header .employee-documents-action::before {
  content: "+";
  font-size: 21px;
  top: 1px;
  left: 4px;
}

.employee-documents-check:checked + .employee-documents-header + .employee-documents-list {
  display: none;
}

.employee-documents-list {
  overflow: auto;
  margin: 0 0 20px 0;
}

.employee-documents-list .table-header-col:first-child {
  padding: 15px 5px 15px 15px;
  width: 80px;
}

.employee-documents-list .table-header-col:first-child .table-sort {
  fill: #07a6d7;
}

.employee-documents-list .table-header-col:nth-child(3) {
  width: 320px;
}

.employee-documents-list .table-header-col:nth-child(4) {
  width: 120px;
}

.employee-documents-list .table-header-col:nth-child(5) {
  width: 160px;
}

.employee-documents-list .table-header-col:nth-child(6) {
  width: 180px;
}

.employee-documents-list .table-header-col:last-child {
  padding: 15px 15px 15px 5px;
  width: 90px;
}

.employee-documents-list .table-body-col:first-child {
  padding: 15px 5px 15px 15px;
  border-radius: 10px 0px 0px 10px;
}

.employee-documents-list .table-body-col:last-child {
  padding: 15px 15px 15px 5px;
  border-radius: 0px 10px 10px 0px;
}

.vehicle-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0 0 0;
}

.vehicle-main-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 20px 0 20px;
}

.vehicle-main-inner .field:nth-child(1) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.vehicle-main-inner .field-label {
  width: 150px;
}

.vehicle-main :nth-child(1) .field:nth-child(3) .field-text {
  width: 160px;
}

.vehicle-documents {
  padding: 0 20px 0 20px;
  width: 100%;
  border-bottom: 1px solid transparent;
}

.vehicle-documents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  border-top: 1px solid #cccccc;
}

.vehicle-documents-action {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bdbdbd;
  cursor: pointer;
}

.vehicle-documents-action::before {
  position: absolute;
  content: "-";
  color: #ffffff;
  font-size: 32px;
  line-height: 16px;
  top: -1px;
  left: 5px;
}

.vehicle-documents-check {
  display: none;
}

.vehicle-documents-check:checked + .vehicle-documents-header .vehicle-documents-action::before {
  content: "+";
  font-size: 21px;
  top: 1px;
  left: 4px;
}

.vehicle-documents-check:checked + .vehicle-documents-header + .vehicle-documents-list {
  display: none;
}

.vehicle-documents-list {
  overflow: auto;
  margin: 0 0 20px 0;
}

.vehicle-documents-list .table-header-col:first-child {
  padding: 15px 5px 15px 15px;
  width: 80px;
}

.vehicle-documents-list .table-header-col:first-child .vehicle-table-sort {
  fill: #07a6d7;
}

.vehicle-documents-list .table-header-col:nth-child(3) {
  width: 120px;
}

.vehicle-documents-list .table-header-col:nth-child(4) {
  width: 160px;
}

.vehicle-documents-list .table-header-col:nth-child(5) {
  width: 160px;
}

.vehicle-documents-list .table-header-col:nth-child(6) {
  width: 180px;
}

.vehicle-documents-list .table-header-col:last-child {
  padding: 15px 15px 15px 5px;
  width: 90px;
}

.vehicle-documents-list .table-body-col:first-child {
  padding: 15px 5px 15px 15px;
  border-radius: 10px 0px 0px 10px;
}

.vehicle-documents-list .table-body-col:last-child {
  padding: 15px 15px 15px 5px;
  border-radius: 0px 10px 10px 0px;
}

.vehicle-table {
  border-collapse: collapse;
  width: 100%;
  color: #4f4f4f;
}

.vehicle-table-header-line {
  height: 70px;
}

.vehicle-table-header-col {
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.vehicle-table-header-col:first-child {
  padding: 15px 5px 15px 15px;
  width: 80px;
}

.vehicle-table-header-col:first-child .vehicle-table-sort {
  fill: #07a6d7;
}

.vehicle-table-header-col:nth-child(3) {
  width: 120px;
}

.vehicle-table-header-col:nth-child(4) {
  width: 160px;
}

.vehicle-table-header-col:nth-child(5) {
  width: 160px;
}

.vehicle-table-header-col:nth-child(6) {
  width: 180px;
}

.vehicle-table-header-col:last-child {
  padding: 15px 15px 15px 5px;
  width: 90px;
}

.vehicle-table-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-table-sort {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 3px;
  fill: #c4c4c4;
}

.vehicle-table-sort:hover {
  fill: #07a6d7;
}

.vehicle-table-body-line:nth-child(2n + 1) {
  background-color: #f5f5f5;
}

.vehicle-table-body-line.alert {
  background-color: #ffeaeb;
}

.vehicle-table-body-col {
  padding: 15px 5px 15px 5px;
  vertical-align: top;
}

.vehicle-table-body-col:first-child {
  padding: 15px 5px 15px 15px;
  border-radius: 10px 0px 0px 10px;
}

.vehicle-table-body-col:last-child {
  padding: 15px 15px 15px 5px;
  border-radius: 0px 10px 10px 0px;
}

.vehicle-table-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.vehicle-table-file, .vehicle-table-link {
  color: #26b1dc;
}

.vehicle-table-temp {
  color: #999999;
}

.vehicle-table-link {
  color: #07a6d7;
}

.vehicle-table-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #78c941;
  font-size: 0.85rem;
  color: #78c941;
  white-space: nowrap;
}

.vehicle-table-negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #eb5554;
  font-size: 0.85rem;
  color: #eb5554;
  white-space: nowrap;
}

.vehicle-table-status {
  margin: 0 0 0 3px;
}

.vehicle-table-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-table-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #666666;
}

.vehicle-table-menu {
  width: 3px;
  height: 17px;
  margin: 0 0 0 24px;
  fill: #666666;
}

.navbar--close .header {
  margin: 0 0 0 60px;
}

.navbar--close .navbar {
  width: 60px;
}

.navbar--close .navbar-head {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: #1c4252;
}

.navbar--close .navbar-head-btn {
  fill: #ffffff;
}

.navbar--close .navbar .navbar-list--open,
.navbar--close .navbar .navbar-list--open ~ .child {
  background: rgba(196, 196, 196, 0.2);
}

.navbar--close .navbar .child .navbar-list--open {
  background: rgba(0, 0, 0, 0.2);
}

.navbar--close .navbar .navbar-list-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.navbar--close .navbar .child .navbar-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0 3px 0;
}

.navbar--close .navbar .child .navbar-list-item .navbar-list-link {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.navbar--close .navbar .child .navbar-list-item .navbar-list-link:hover, .navbar--close .navbar .child .navbar-list-item .navbar-list-link:focus {
  background: rgba(0, 0, 0, 0.2);
}

.navbar--close .navbar .navbar-head-logo,
.navbar--close .navbar .navbar-list-title,
.navbar--close .navbar .navbar-list-amount,
.navbar--close .navbar .navbar-list-arrow,
.navbar--close .navbar .navbar-footer {
  display: none;
}

.navbar--close .main {
  margin: 60px 0 0 60px;
}

.goodbye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../img/goodbye.png);
  background-size: cover;
  background-position: center;
  padding: 0 10px;
}

.goodbye-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 850px;
  min-height: 250px;
  margin: 0 auto 5% auto;
  padding: 30px 30px 50px 0;
  background-color: white;
  border-radius: 20px;
}

.goodbye__img {
  fill: #009bcd;
  margin: 0 75px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

.goodbye__txt .h1-like {
  margin: 0 0 25px 0;
}

.goodbye-list {
  padding: 0 0 0 15px;
  margin: 0;
  margin: 20px 0 0 0;
}

.goodbye-list > li {
  padding: 0 0 10px 10px;
}

.goodbye-logo {
  margin: 0 0 30px 0;
}

.warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../img/warning.png);
  background-size: cover;
  background-position: center;
  padding: 0 10px;
}

.warning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 700px;
  min-height: 250px;
  margin: 0 auto 5% auto;
}

.warning__img {
  fill: #d1dae5;
  margin: 0 75px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

.warning__txt {
  color: white;
}

.warning__txt .h1-like {
  color: inherit;
  margin: 0 0 25px 0;
}

.warning-list {
  padding: 0 0 0 15px;
  margin: 0;
  margin: 20px 0 0 0;
}

.warning-list > li {
  padding: 0 0 10px 10px;
}

@media (max-width: 768px) {
  .employee-main-photo {
    display: none;
  }
  .employee-emergency-main {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 100%;
            flex: 2 1 100%;
  }
  .employee-emergency-child-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (max-width: 1200px) {
  .employees-list .table-header-col:nth-child(6) {
    width: 140px;
  }
  .employees-list .table-header-col:nth-child(6) span {
    width: 115px;
  }
  .employee-emergency-child {
    -webkit-box-flex: 4;
        -ms-flex: 4 1;
            flex: 4 1;
  }
  .employee-main-inner:nth-child(1) .field-label {
    width: 125px;
  }
  .employee-passport-fields-inner .field-label.passport {
    width: 50px;
    margin: 0 10px 0 40px;
  }
  .vehicle-documents-list .table-header-col:nth-child(4) {
    width: 120px;
  }
}

@media (max-width: 1600px) {
  .passes-list .table-header-col:nth-child(6) {
    width: 120px;
  }
  .passes-list .table-header-col:nth-child(7) {
    width: 130px;
  }
  .passes-list .table-header-col:nth-child(7) .table-title {
    width: 110px;
  }
  .employees-list .table-header-col:nth-child(3),
  .employees-list .table-header-col:nth-child(4) {
    width: 15%;
  }
}

.employee-passport-fields-inner .field-label.passport {
  width: 30px;
  margin: 0 10px 0 40px;
}

.employee-documents-list .table-header-col:first-child {
  width: 80px;
}

.employee-documents-list .table-header-col:nth-child(2) {
  min-width: 145px;
}

.employee-documents-list .table-header-col:nth-child(3) {
  width: 160px;
}

.employee-documents-list .table-header-col:nth-child(4) {
  width: 100px;
}

.employee-documents-list .table-header-col:nth-child(5) {
  width: 100px;
}

.employee-documents-list .table-header-col:nth-child(5) span {
  width: 60px;
}

.employee-documents-list .table-header-col:nth-child(6) {
  width: 140px;
}

.employee-documents-list .table-header-col:nth-child(6) span {
  width: 82px;
}

.employee-documents-list .table-header-col:last-child {
  width: 90px;
}

.vehicle-documents-list .table-header-col:first-child {
  width: 80px;
}

.vehicle-documents-list .table-header-col:nth-child(2) {
  min-width: 145px;
}

.vehicle-documents-list .table-header-col:nth-child(3) {
  width: 100px;
}

.vehicle-documents-list .table-header-col:nth-child(5) {
  width: 100px;
}

.vehicle-documents-list .table-header-col:nth-child(5) span {
  width: 60px;
}

.vehicle-documents-list .table-header-col:nth-child(6) {
  width: 140px;
}

.vehicle-documents-list .table-header-col:nth-child(6) span {
  width: 82px;
}

.vehicle-documents-list .table-header-col:last-child {
  width: 90px;
}
